
#open-firewall-ports.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-lock-open.fa-lg
          strong &nbsp; Abertura de portas no CPE &nbsp;
            label(name="openfirewallRouterid_label" id="openfirewallRouterid_label")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        .row
          .col
            .row
              .col-6 
                span Dispositivo &nbsp;
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title="Peça para o cliente conectar o dispositivo ao CPE. " +
                        "É possível também digitar o endereço MAC do dispositivo"
                )
              .col-3
                span Abrir portas &nbsp;
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title="As portas abertas terão um mapeamento um para um. " +
                        "Ou seja, a porta X aberta no dispositivo será " +
                        "mapeada na mesma porta X do CPE. Para portas assimetricas, " +
                        "separe as portas com ':'. Ex: 80:8080" 
                )
              .col-1.px-0
                span DMZ &nbsp;
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title="Somente IPv4. Ao ativar a DMZ, o dispositivo ficará " +
                        "em uma rede isolada da rede LAN. Os dispositivos da " +
                        "rede LAN ainda poderão se comunicar com os " +
                        "dispositivos na DMZ",
                )
              .col-2.p
                span &nbsp
            .row
              .col-6
                .input-group
                  select.form-control#openFirewallPortsMac
                  .input-group-append
                    button.btn.btn-sm.my-0.btn-primary.btn-syncOnlineDevs(type="button")
                      .fas.fa-sync-alt.fa-lg
              .col-3
                select.form-control#openFirewallPortsPorts(Multiple)
              .col-1.px-0
                label.switch
                  input.checkbox#openFirewallPortsDMZ(type="checkbox")
                  .slider.round
              .col-2.text-right
                button.btn.btn-sm.mr-0.my-0.btn-primary.btn-openFirewallPortsSaveRule(type="button")
                  .fas.fa-plus.fa-lg
        .row.mt-3
          .col
            .table-responsive
              table.table
                thead
                  tr
                    th.text-left Dispositivo
                    th.text-center Portas abertas IPv4
                    th.text-center
                      span Portas abertas IPv6 &nbsp;
                      a.fas.fa-question-circle(
                        data-toggle="tooltip",
                        title="Caso não veja as portas listadas, " +
                              "atualize o firmware do CPE",
                      )
                    th.text-center DMZ
                    th &nbsp;
                tbody#openFirewallPortsRules
        input#openFirewallPortsFinalRules(type="hidden")
        input#hasFirewallPortForwardAsym(type="hidden")
        input#hasFirewallPortOpenIpv6(type="hidden")
      .modal-footer 
        button.btn.btn-primary.btn-openFirewallPortsSubmit(type="button")
          .fas.fa-check.fa-lg
          span &nbsp Aplicar
