
#open-firewall-ports.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-lock-open.fa-lg
          strong &nbsp; #{t('cpePortOpening')} &nbsp;
            label(name="openfirewallRouterid_label" id="openfirewallRouterid_label")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        .row
          .col
            .row
              .col-6 
                span #{t('Device')} &nbsp;
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title=t('deviceTooltip'),
                )
              .col-3
                span #{t('openPorts')} &nbsp;
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title=t('openPortsToolTip'),
                )
              .col-1.px-0
                span DMZ &nbsp;
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title=t('DmzTooltip'),
                )
              .col-2.p
                span &nbsp
            .row
              .col-6
                .input-group
                  select.form-control#openFirewallPortsMac
                  .input-group-append
                    button.btn.btn-sm.my-0.btn-primary.btn-syncOnlineDevs(type="button")
                      .fas.fa-sync-alt.fa-lg
              .col-3
                select.form-control#openFirewallPortsPorts(Multiple)
              .col-1.px-0
                label.switch
                  input.checkbox#openFirewallPortsDMZ(type="checkbox")
                  .slider.round
              .col-2.text-right
                button.btn.btn-sm.mr-0.my-0.btn-primary.btn-openFirewallPortsSaveRule(type="button")
                  .fas.fa-plus.fa-lg
        .row.mt-3
          .col
            .table-responsive
              table.table
                thead
                  tr
                    th.text-left= t('Device')
                    th.text-center= t('OpennedPortIpv4')
                    th.text-center
                      span #{t('OpennedPortIpv6')} &nbsp;
                      a.fas.fa-question-circle(
                        data-toggle="tooltip",
                        title=t('opennedPortsTooltip'),
                      )
                    th.text-center DMZ
                    th &nbsp;
                tbody#openFirewallPortsRules
        input#openFirewallPortsFinalRules(type="hidden")
        input#hasFirewallPortForwardAsym(type="hidden")
        input#hasFirewallPortOpenIpv6(type="hidden")
      .modal-footer 
        button.btn.btn-primary.btn-openFirewallPortsSubmit(type="button")
          .fas.fa-check.fa-lg
          span &nbsp #{t('Apply')}
