
#config-flashman-menu.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-cog.fa-lg
          strong &nbsp; Configurações

        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        form#config-flashman-form.needs-validation(method="post",
                                                   action="/upgrade/config",
                                                   novalidate)
          .row
            .col
              .input-entry
                label Número mínimo de caracteres da senha PPPoE
                input.form-control(type="number",
                                   name="minlength-pass-pppoe",
                                   id="minlength-pass-pppoe",
                                   min=0,
                                   max=64,
                                   required)
                .invalid-feedback Insira um número entre 0 e 64
              br
              .custom-control.custom-checkbox
                input.custom-control-input(
                  name="autoupdate",
                  type="checkbox",
                  id="autoupdate"
                )
                label.custom-control-label(for="autoupdate")
                  | Deixar que o Flashman se atualize automaticamente
                .invalid-feedback
              br
              .input-entry
              label Endereço IP do servidor de medição de velocidade
              input.form-control.ip-mask-field(
                type="text",
                name="measure-server-ip",
                id="measure-server-ip",
                minlength=7,
                maxlength=15,
                size=15,
                pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$",
                placeholder="0.0.0.0"
              )
              .invalid-feedback Insira um IP válido
              br
              .input-entry
              label Porta do servidor de medição de velocidade
              input.form-control(
                type="number",
                name="measure-server-port",
                id="measure-server-port",
                min=1,
                max=65535,
                value=80,
                placeholder="80"
              )
              .invalid-feedback Insira uma porta válida
              if (superuser || role && role.grantMonitorManage)
                br
                .input-entry
                label FQDN do servidor TR-069 do Flashman
                input.form-control(
                  type="text",
                  name="tr069-server-url",
                  id="tr069-server-url",
                )
                .invalid-feedback Insira um FQDN válido
                br
                .input-entry
                label Login para a interface web das ONUs
                input.form-control(
                  type="text",
                  name="onu-web-login",
                  id="onu-web-login",
                )
                .invalid-feedback Insira um login válido
                br
                .input-entry
                label Senha para a interface web das ONUs
                input.form-control(
                  type="text",
                  name="onu-web-password",
                  id="onu-web-password",
                )
                .invalid-feedback Insira uma senha válida
                br
                .custom-control.custom-checkbox
                  input.custom-control-input(
                    name="onu_web_remote",
                    type="checkbox",
                    id="onu_web_remote"
                  )
                  label.custom-control-label(for="onu_web_remote")
                    | Configurar acesso remoto para ONUs
                  .invalid-feedback
                br
                .input-entry
                label Intervalo entre informes do TR-069 (em segundos, mínimo 60)
                input.form-control(
                  type="number",
                  name="inform-interval",
                  id="inform-interval",
                  min=60,
                  max=86400,
                  value=600,
                  placeholder="600"
                )
                .invalid-feedback Insira uma quantidade válida
                br
                .input-entry
                label Valor de alerta amarelo do sinal óptico (dBm)
                input.form-control(
                  type="number",
                  name="pon-signal-threshold",
                  id="pon-signal-threshold",
                  min=-100,
                  max=100,
                  value=-15,
                  placeholder="-18"
                )
                .invalid-feedback Insira um número em dBm válido
                br
                .input-entry
                label Valor de alerta vermelho do sinal óptico (dBm)
                input.form-control(
                  type="number",
                  name="pon-signal-threshold-critical",
                  id="pon-signal-threshold-critical",
                  min=-100,
                  max=100,
                  value=-30,
                  placeholder="-23"
                )
                .invalid-feedback Insira um número em dBm válido
                br
                .input-entry
                label Valor de alerta vermelho do sinal óptico elevado (dBm)
                input.form-control(
                  type="number",
                  name="pon-signal-threshold-critical-high",
                  id="pon-signal-threshold-critical-high",
                  min=-100,
                  max=100,
                  value=3,
                  placeholder="3"
                )
                .invalid-feedback Insira um número em dBm válido
                br
                table
                  tr
                    td(style='vertical-align: top;')
                      .input-entry
                      label Quantidade de informes TR-069 não recebidos para considerar CPE instável
                      input.form-control(
                        type="number",
                        name="lost-informs-recovery-threshold",
                        id="lost-informs-recovery-threshold",
                        min=1,
                        max=100,
                        value=1,
                        placeholder="1"
                        oninput="checkrecoveryOfflineInputDependency()"
                      )
                      .invalid-feedback#error-lost-informs-recovery-threshold Insira uma quantidade válida
                    td(style='vertical-align: top;')
                      .input-entry
                      label Quantidade de informes TR-069 não recebidos para considerar CPE offline
                      input.form-control(
                        type="number",
                        name="lost-informs-offline-threshold",
                        id="lost-informs-offline-threshold",
                        min=1,
                        max=300,
                        value=3,
                        placeholder="3"
                        oninput="checkrecoveryOfflineInputDependency()"
                      )
                      //- don't change min value to '2'. oninput function will check if this value is bigger than recovery's value.
                      .invalid-feedback#error-lost-informs-offline-threshold Insira uma quantidade válida
                .invalid-feedback#error-recovery-offline-thresholds Valor para instável precisa ser menor que o valor offline.
          .row.mt-3
            .col.text-center
              button.btn.btn-primary(type="submit")
                .fas.fa-check.fa-lg
                span &nbsp Salvar
