
form.edit-form.needs-validation(novalidate)
  .row
    .col-9.actions-opts
      .btn-group.btn-group-toggle(data-toggle="buttons")
        label.btn.btn-primary.active.tab-switch-btn(data-tab-id="#tab_about-" + (index + 1))
          input(type="radio")
          | Sobre
        label.btn.btn-primary.tab-switch-btn(data-tab-id="#tab_wan-" + (index + 1))
          input(type="radio")
          | WAN
        if (superuser || role.grantWifiInfo >= 1)
          label.btn.btn-primary.tab-switch-btn(data-tab-id="#tab_wifi-" + (index + 1))
            input(type="radio")
            | Wi-Fi
        if (devicesPermissions[index].grantWifi5ghz && (superuser || role.grantWifiInfo >= 1))
          label.btn.btn-primary.tab-switch-btn(data-tab-id="#tab_wifi5-" + (index + 1))
            input(type="radio")
            | Wi-Fi 5.0GHz
        // Actions
        if (superuser || role.grantDeviceActions)
          button.btn.btn-primary.dropdown-toggle(
            type="button",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            disabled=((superuser || role.grantDeviceActions) ? false : true)
          ) Ações
          .dropdown-menu.dropdown-menu-right(
            data-dropdown-in="fadeIn",
            data-dropdown-out="fadeOut"
          )
            a.dropdown-item.btn-reboot 
              .fas.fa-sync
              span &nbsp Reiniciar roteador  
            .dropdown-divider
            a.dropdown-item.btn-reset-app 
              .fas.fa-mobile-alt
              span &nbsp Resetar senha App
            if (superuser || role.grantLOGAccess)
              if (devicesPermissions[index].grantViewLogs)
                .dropdown-divider
                a.dropdown-item.btn-log-modal
                  .fas.fa-file-alt
                  span &nbsp Logs do roteador
            if (devicesPermissions[index].grantResetDevices)
              .dropdown-divider
              a.dropdown-item.btn-reset-blocked
                .fas.fa-ban
                span &nbsp Desbloquear dispositivos
            if (devicesPermissions[index].grantPortForward)
              .dropdown-divider
              a.dropdown-item.btn-openFirewallPorts-modal
                .fas.fa-lock-open
                span &nbsp Abertura de portas
      br
      span.badge.badge-success.bounceIn(style="display: none;") Sucesso
      span.badge.badge-warning.bounceIn(style="display: none;") Falha
      br
    if (superuser || role.grantDeviceRemoval)
      .col-3.text-right
        button.btn.btn-danger.btn-trash.m-0(type="button")
          .fas.fa-trash
          span &nbsp Remover
  .row
    .col
      // About
      .edit-tab(id="tab_about-" + (index + 1))
        .row
          .col-6
            .md-form.input-group.input-entry
              .input-group-btn
                button.btn.teal.lighten-2.dropdown-toggle.ml-0.my-0(
                  type="button",
                  data-toggle="dropdown",
                  disabled=((superuser || role.grantDeviceId) ? false : true)
                )
                  span.selected(id="edit_ext_ref_type_selected-" + (index + 1)) CPF
                #ext_ref_type.dropdown-menu
                  a.dropdown-item.text-center.active.teal.lighten-2 CPF
                  a.dropdown-item.text-center CNPJ
                  a.dropdown-item.text-center Outro
              input.form-control.py-0.added-margin.ext-ref-input(
                type="text",
                id="edit_external_reference-" + (index + 1),
                placeholder="ID do cliente (opcional)",
                maxlength="64",
                disabled=((superuser || role.grantDeviceId) ? false : true)
              )
              .invalid-feedback
          .col-6
            .md-form.input-entry.pt-1
              label(for="info_device_model-" + (index + 1)) Modelo
              input.form-control(type="text",
                                 id="info_device_model-" + (index + 1),
                                 maxlength="32", disabled)
              .invalid-feedback
            .md-form.input-entry
              label(for="info_device_version-" + (index + 1)) Versão do Flashbox
              input.form-control(type="text",
                                 id="info_device_version-" + (index + 1),
                                 maxlength="32", disabled)
              .invalid-feedback
      // WAN
      .edit-tab.d-none(id="tab_wan-" + (index + 1))
        .row
          .col-6
            .md-form
              .input-group.has-warning
                .md-selectfield.form-control.my-0
                  label(for="edit_connect_type-" + (index + 1)) Tipo de Conexão
                  select.browser-default.md-select(
                    id="edit_connect_type-" + (index + 1),
                    disabled=((superuser || role.grantWanType) ? false : true)
                  )
                    option(value="DHCP") DHCP
                    option(value="PPPoE") PPPoE
                h7.orange-text(id="edit_connect_type_warning-" + (index + 1),
                               style="display: none;")
                  | Cuidado! Isso pode deixar o roteador inacessível
                  | dependendo das configurações de rede do seu provedor
          if (superuser || role.grantPPPoEInfo >= 1)
            .col-6
              .md-form.input-entry
                label(for="edit_pppoe_user-" + (index + 1)) Usuário PPPoE
                input.form-control(
                  type="text",
                  id="edit_pppoe_user-" + (index + 1),
                  maxlength="64",
                  disabled=((superuser || role.grantPPPoEInfo > 1) ? false : true)
                )
                .invalid-feedback
              .md-form.input-entry
                .input-group
                  label(for="edit_pppoe_pass-" + (index + 1)) Senha PPPoE
                  input.form-control.my-0(
                    type="password",
                    id="edit_pppoe_pass-" + (index + 1),
                    maxlength="64",
                    disabled=((superuser || role.grantPPPoEInfo > 1) ? false : true)
                  )
                  if (superuser || role.grantPassShow)
                    .input-group-append
                      .input-group-text.teal.lighten-2
                        a.toggle-pass
                          .fas.fa-eye-slash.white-text
                  .invalid-feedback
      // Wi-Fi 2.4GHz
      if (superuser || role.grantWifiInfo >= 1)
        .edit-tab.d-none(id="tab_wifi-" + (index + 1))
          .row
            .col-6
              .md-form
                .input-group
                  .md-selectfield.form-control.my-0
                    label(for="edit_wifi_channel-" + (index + 1)) Canal do WiFi
                    select.browser-default.md-select(
                      id="edit_wifi_channel-" + (index + 1),
                      disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                    )
                      option(value="auto") auto
                      option(value="1") 1
                      option(value="2") 2
                      option(value="3") 3
                      option(value="4") 4
                      option(value="5") 5
                      option(value="6") 6
                      option(value="7") 7
                      option(value="8") 8
                      option(value="9") 9
                      option(value="10") 10
                      option(value="11") 11
              .md-form.input-entry
                label(for="edit_wifi_ssid-" + (index + 1)) SSID do WiFi
                input.form-control(
                  type="text",
                  id="edit_wifi_ssid-" + (index + 1),
                  maxlength="32",
                  disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                )
                .invalid-feedback
              .md-form.input-entry
                .input-group
                  label(for="edit_wifi_pass-" + (index + 1)) Senha do WiFi
                  input.form-control.my-0(
                    type="password",
                    id="edit_wifi_pass-" + (index + 1),
                    maxlength="64",
                    disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                  )
                  if (superuser || role.grantPassShow)
                    .input-group-append
                      .input-group-text.teal.lighten-2
                        a.toggle-pass
                          .fas.fa-eye-slash.white-text
                  .invalid-feedback
            .col-6
              .md-form
                .input-group
                  .md-selectfield.form-control.my-0
                    label(for="edit_wifi_band-" + (index + 1)) Largura de banda
                    select.browser-default.md-select(
                      id="edit_wifi_band-" + (index + 1),
                      disabled=((devicesPermissions[index].grantWifiBand &&
                        (superuser || role.grantWifiInfo > 1)) ? false : true)
                    )
                      option(value="HT40") 40 MHz
                      option(value="HT20") 20 MHz
              .md-form
                .input-group
                  .md-selectfield.form-control.my-0
                    label(for="edit_wifi_mode-" + (index + 1)) Modo de operação
                    select.browser-default.md-select(
                      id="edit_wifi_mode-" + (index + 1),
                      disabled=((devicesPermissions[index].grantWifiBand &&
                        (superuser || role.grantWifiInfo > 1)) ? false : true)
                    )
                      option(value="11n") BGN
                      option(value="11g") G
      // Wi-Fi 5GHz
      if (devicesPermissions[index].grantWifi5ghz && (superuser || role.grantWifiInfo >= 1))
        .edit-tab.d-none(id="tab_wifi5-" + (index + 1))
          .row
              .col-6
                .md-form
                  .input-group
                    .md-selectfield.form-control.my-0
                      label(for="edit_wifi5_channel-" + (index + 1)) Canal do WiFi
                      select.browser-default.md-select(
                        id="edit_wifi5_channel-" + (index + 1),
                        disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                      )
                        option(value="auto") auto
                        option(value="36") 36
                        option(value="40") 40
                        option(value="44") 44
                        option(value="48") 48
                        option(value="52") 52
                        option(value="56") 56
                        option(value="60") 60
                        option(value="64") 64
                        option(value="149") 149
                        option(value="153") 153
                        option(value="157") 157
                        option(value="161") 161
                        option(value="165") 165
                .md-form.input-entry
                  label(for="edit_wifi5_ssid-" + (index + 1)) SSID do WiFi
                  input.form-control(
                    type="text",
                    id="edit_wifi5_ssid-" + (index + 1),
                    maxlength="32",
                    disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                  )
                  .invalid-feedback
                .md-form.input-entry
                  .input-group
                    label(for="edit_wifi5_pass-" + (index + 1)) Senha do WiFi
                    input.form-control.my-0(
                      type="password",
                      id="edit_wifi5_pass-" + (index + 1),
                      maxlength="64",
                      disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                    )
                    if (superuser || role.grantPassShow)
                      .input-group-append
                        .input-group-text.teal.lighten-2
                          a.toggle-pass
                            .fas.fa-eye-slash.white-text
                    .invalid-feedback
              .col-6
                .md-form
                  .input-group
                    .md-selectfield.form-control.my-0
                      label(for="edit_wifi5_band-" + (index + 1)) Largura de banda
                      select.browser-default.md-select(
                        id="edit_wifi5_band-" + (index + 1),
                        disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                      )
                        option(value="VHT80") 80 MHz
                        option(value="VHT40") 40 MHz
                        option(value="VHT20") 20 MHz
                .md-form
                  .input-group
                    .md-selectfield.form-control.my-0
                      label(for="edit_wifi5_mode-" + (index + 1)) Modo de operação
                      select.browser-default.md-select(
                        id="edit_wifi5_mode-" + (index + 1),
                        disabled=((superuser || role.grantWifiInfo > 1) ? false : true)
                      )
                        option(value="11ac") AC
                        option(value="11na") N
  .row
    // Buttons
    .col.text-right
      button.btn.btn-primary.mx-0(type="submit")
        .fas.fa-check.fa-lg
        span &nbsp Editar
