nav.navbar.navbar-expand-lg.navbar-dark.primary-color
  a.navbar-brand(href="/").mc-auto
    .image-block
      img(alt="brand", src="/images/logo.png", width="50", height="50")
      span(style="font-size: 24px;") &nbsp FlashMan
  ul.navbar-nav.mc-auto
      li.nav-item
        a.nav-link(data-toggle="modal" data-target="#alerts-flashman")
          .bell-notification.animated(style="cursor: pointer")
            .fas.fa-bell.fa-lg.text-white
          .bell-counter(style="display: none;")
  button.navbar-toggler.col-2(type="button", data-toggle="collapse",
                        data-target="#navbar-menu", aria-controls="#navbar-menu",
                        aria-expanded="false", aria-label="Alternar navegação")
    span.navbar-toggler-icon
  #navbar-menu.navbar-default.navbar-collapse.collapse
    if (username)
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(target="_blank",
                     rel="noopener noreferrer", href="https://documentacao.anlix.io")
            .fas.fa-lg(class="fa-book")
            span &nbsp Documentação
        li.nav-item
          a.nav-link(target="_blank",
                     rel="noopener noreferrer", href="https://forum.anlix.io")
            .fas.fa-lg(class="fa-comments")
            span &nbsp Comunidade

      ul.navbar-nav.ml-auto.nav-flex-icons
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(data-toggle="dropdown")
            i.fas.fa-cog
            span &nbsp #{username}
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="/user/profile")
              i.fas.fa-user.fa-lg.mr-2
              | Meu perfil
            if (superuser || role.grantFirmwareManage)
              a.dropdown-item(href="/firmware")
                i.fas.fa-hdd.fa-lg.mr-2
                | Firmwares
            if (superuser)
              a.dropdown-item(href="/user/showall")
                i.fas.fa-users.fa-lg.mr-2
                | Gerenciar usuários
              a.dropdown-item(href="/user/roles")
                i.fas.fa-address-card.fa-lg.mr-2
                | Gerenciar permissões
              a.dropdown-item.update
                i.fas.fa-arrow-circle-down.fa-lg.mr-2
                | Atualizar Flashman
              a.dropdown-item(
                data-toggle="modal",
                data-target="#config-flashman-menu"
              )
                i.fas.fa-cog.fa-lg.mr-2
                | Configurações
        li.nav-item
          a.ml-4.nav-link.waves-effect.waves-light(href="/logout")
            i.fas.fa-sign-out-alt
