#show-certificate.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-info-circle.fa-lg
          strong &nbsp;&nbsp;#{t('certificatDetails')}
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body.pt-2
        #details-placeholder
          .col
            h2.text-center.grey-text.my-3
              i.fas.fa-spinner.fa-pulse.fa-3x
              br
              br
              span= t('searchingDetails...')
        #details-error
          .col
            h2.text-center.grey-text.my-3
              i.fas.fa-times.fa-3x
              br
              br
              span= t('errorAccessingData')
        #details-info.text-center.px-20
          .row
            .col-md-12
              h2.mt-3
                i#done-icon.fas.fa-check-circle
                span#done-text &nbsp;&nbsp;#{t('certificationConcluded')}
              #details-cancel
                strong #{t('Reason')}:
                span#details-cancel-text
          hr
          .row
            .col-md-6
              h4= t('serviceData')
              ul.list-inline
                li
                  strong #{t('Technician')}:
                  span#user-name
                li
                  strong #{t('Date')}:
                  span#user-date
                li
                  strong #{t('Contract')}:
                  span#user-contract
                li#specific-user-container
                  strong #{t('specificUsername')}:
                  span#specific-user
                li#specific-passwd-container
                  strong #{t('specificPassword')}:
                  span#specific-passwd
            #router-data.col-md-6
              h4= t('cpeData') 
              ul.list-inline
                li
                  strong MAC:
                  span#router-mac
                li
                  strong #{t('Model')}:
                  span#router-model
                li
                  strong #{t('Version')}:
                  span#router-version
                li
                  strong Release:
                  span#router-release
            #onu-data.col-md-6
              h4= t('cpeData')
              ul.list-inline
                li
                  strong #{t('Serial')}:
                  span#onu-serial
                li
                  strong #{t('Model')}:
                  span#onu-model
                li
                  strong #{t('hardwareVersion')}:
                  span#onu-hardware
                li
                  strong #{t('firmwareVersion')}:
                  span#onu-firmware
          hr
          #wan-config-none
            h4= t('wanConfiguratonDidNotChange')
          #wan-config-done
            h4= t('wanConfiguration')
            #wan-config-list
          hr
          #diagnostic-none-router
            h4= t('cpeDiagnosticNotDone')
          #diagnostic-none-onu
            h4= t('cpeDiagnosticNotDone')
          #diagnostic-done
            h4#diagnostic-header-router= t('cpeDiagnostic')
            h4#diagnostic-header-onu= t('cpeDiagnostic')
            ul#diagnostic-router.list-inline
              li
                strong #{t('wanAccess')}:
                span#diagnostic-router-wan
              li
                strong #{t('ipvxAccess', {x: 4})}:
                span#diagnostic-router-ip4
              li
                strong #{t('ipvxAccess', {x: 6})}:
                span#diagnostic-router-ip6
              li
                strong #{t('dnsAccess')}:
                span#diagnostic-router-dns
              li
                strong #{t('anlixLicense')}:
                span#diagnostic-router-anlix
              li
                strong #{t('flashmanCommunication')}:
                span#diagnostic-router-flashman
              li#diagnostic-router-speedtest-status-element
                strong #{t('speedTest')}:
                span#diagnostic-router-speedtest-status
              li#diagnostic-router-speedtest-value-element
                strong #{t('measuredSpeed')}:
                span#diagnostic-router-speedtest-value
            ul#diagnostic-onu.list-inline
              li#diagnostic-pon-element
                strong #{t('ponAccess')}:
                span#diagnostic-onu-pon
              li#diagnostic-rx-element
                strong #{t('receivedOpticalSignal')}:
                span#diagnostic-onu-rx
              li
                strong #{t('wanAccess')}:
                span#diagnostic-onu-wan
              li
                strong #{t('tr069Configuration')}:
                span#diagnostic-onu-tr069
              li
                strong #{t('anlixLicense')}:
                span#diagnostic-onu-anlix
              li
                strong #{t('flashmanCommunication')}:
                span#diagnostic-onu-flashman
              li#diagnostic-onu-speedtest-status-element
                strong #{t('speedTest')}:
                span#diagnostic-onu-speedtest-status
              li#diagnostic-onu-speedtest-value-element
                strong #{t('measuredSpeed')}:
                span#diagnostic-onu-speedtest-value
          hr
          #mesh-config-none
            h4= t('meshNetworkConfigurationDidNotChange')
          #mesh-config-done
            h4= t('meshNetworkConfiguration')
            ul.list-inline
              li
                strong #{t('meshMode')}:
                span#mesh-mode
              li
                strong#mesh-slave-head #{t('secondaryCpes')}:
                ul.list-inline#mesh-slave-list
              li
                strong#mesh-remove-head #{t('removedCpes')}:
                ul.list-inline#mesh-remove-list
          hr
          #wifi-config-none
            h4= t('wifiConfigurationDidNotChange')
          #wifi-config-done
            .row
              #wifi-2ghz.col-md-6
                h4= t('wifiConfigurationXGhz', {x: 2.4})
                ul.list-inline
                  li
                    strong SSID:
                    span#wifi-2-ssid
                  li
                    strong #{t('Channel')}:
                    span#wifi-2-channel
                  li
                    strong #{t('bandwidth')}:
                    span#wifi-2-band
                  li
                    strong #{t('operationMode')}:
                    span#wifi-2-mode
              #wifi-5ghz.col-md-6
                h44= t('wifiConfigurationXGhz', {x: '5.0'})
                ul.list-inline
                  li
                    strong SSID:
                    span#wifi-5-ssid
                  li
                    strong #{t('Channel')}:
                    span#wifi-5-channel
                  li
                    strong #{t('bandwidth')}:
                    span#wifi-5-band
                  li
                    strong #{t('operationMode')}:
                    span#wifi-5-mode
          hr
          #observations-none
            h4= t('noAditionalObservationsHaveBeenDone')
          #observations-done
            h4= t('aditionalObservations')
            p#observations-field
