
#factory-credentials-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      
      //- Header of the modal
      .modal-header
        p.heading.lead

          //- Icon
          span.fas.fa-lock-open.fa-lg

          //- Tittle
          strong &nbsp;Configuração de Credenciais WEB personalizadas por Preset
          //- &nbsp;

        //- Close button
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      
      //- Alert
      #factory-credentials-modal-alert
      
      //- Body of the modal
      .modal-body#factory-credentials-modal-canvas
        .row.justify-content-start.align-items-center.flexwrap
          
          //- Vendor dropdown
          .col-md-2.col-6
            .md-form.md-selectfield.form-control
              label#factory-credentials-vendor-label Fabricante
              select.browser-default.md-select(name="selected-vendor")
                option(value="X") X
                option(value="Y") Y
                option(value="Z") Z

          //- Model dropdown
          .col-md-2.col-6
            .md-form.md-selectfield.form-control
              label#factory-credentials-model-label Modelo
              select.browser-default.md-select(name="selected-model")
                option(value="A") A
                option(value="B") B
                option(value="C") C

          //- User field
          .col-md-3.col-6
            .md-form.input-entry
              label#factory-credentials-user-label Usuário
              input.form-control.ip-mask-field(
                type="text",
              )#factory-credentials-user-input
              .invalid-feedback Usuário inválido

          //- Password field
          .col-md-3.col-6
            .md-form.input-entry
              label#factory-credentials-password-label Senha
              input.form-control.ip-mask-field(
                type="text",
              )#factory-credentials-password-input
              .invalid-feedback Senha inválida

          .col-md-2.col-12
            //- Apply button
            #factory-credentials-add-button.button.btn.btn-primary(
              type="button",
            )
              .fas.fa-plus.fa-lg

        //- Credentials table
        .row.col.table-responsive
          table.table
            //- Table head
            thead
              tr
                //- Devices column header
                th.text-left Dispositivos
                
                //- Credentials column header
                th.text-center Credenciais

                //- Delete all button
                th.text-right
                  a.fas.fa-question-circle.mr-4(
                    data-toggle="tooltip",
                    title="Deletar todas as entradas",
                  )
                  button.btn.btn-sm.btn-danger.m-0(
                    type='button',
                  )#factory-credentials-remove-all
                    .fas.fa-trash.fa-lg

            //- Table body
            tbody
            #factory-credentials-table
      
      //- Footer of the modal
      .modal-footer
        //- Apply button
        #factory-credentials-submit-button.button.btn.btn-primary(
          type="button",
        )
          .fas.fa-check.fa-lg
          span &nbsp; Aplicar
