#default-hosts-config-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      
      //- Header of the modal
      .modal-header
        p.heading.lead

          //- Icon
          span.fas.fa-stethoscope.fa-lg

          //- Tittle
          strong &nbsp; #{t('defaultHostsConfig')}

        //- Close button
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      
      //- Modal body
      .modal-body#default-hosts-config-modal-canvas
        .row.mt-1.justify-content-center.align-items-center.flexwrap
          //- Host input
          .col
            .md-form.input-entry
              label#default-hosts-config-label #{t('Endereço')}
              input.form-control.ip-mask-field(
                type="text",
              )#default-hosts-config-input
              .invalid-feedback Endereço inválido
          //- Toggle tip
          .row-md-1.black-text
            a.fas.fa-question-circle.mr-4(
                data-toggle="tooltip",
                title=t('targetAddressesTooltip'),
              )
        .row.mt-1.justify-content-center.align-items-center.flexwrap
          //- Apply button
          #default-hosts-config-add-button.button.btn.btn-primary(
            type="button",
          )
            .fas.fa-plus.fa-lg
            span &nbsp; #{t('Add')}
        
        //- Hosts table
        .table-responsive#default-hosts-table-show
          table.table.mb-1
            //- Table head
            thead
              tr
                //- Default hosts column header
                th.text-left #{t('defaultHosts')}

                //- Delete all button
                th.text-right
                  a.fas.fa-question-circle.mr-4(
                    data-toggle="tooltip",
                    title=t('removeAll'),
                  )
                  button.btn.btn-sm.btn-danger.m-0(
                    type='button',
                  )#default-hosts-config-remove-all
                    .fas.fa-trash.fa-lg
                    
            //- Table body
            tbody#default-hosts-config-table
        
        //- Empty default_hosts_list message
        .row.my-3#default-hosts-config-table-hide
          .col
            h5.text-center
              span= t('noDefaultAddressesConfigured')
      
        hr.mt-0
        .row.justify-content-center.align-items-center.flexwrap
          .col-md-9
            //- Alert
            .alert.alert-danger.mb-0
              .fas.fa-exclamation-triangle.fa-lg
              span &nbsp; #{t('defaultHostsConfigWarning')}
          .col-md-3
            //- Apply button
            #default-hosts-config-submit-button.button.btn.btn-primary(
              type="button",
            )
              .fas.fa-check.fa-lg
              span &nbsp; #{t('Apply')}
