#data_collecting-service-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-chart-bar.fa-lg
          strong.ml-3 Coleta de Dados
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        
        .data_collecting_service-header.border.row.pl-2.pr-2.pt-3.pb-3.ml-0.mr-0
          .col-1
            .panel-arrow.fas.fa-chevron-down.fa-lg.mt-1
          .col-11
            h5 Configurações do serviço de coleta de dados
        .pl-3.pr-3.pb-3.pt-3.grey.lighten-5.border(style="display: none;")
          p Parâmetros usados como valores padrão em todos os dispositivos.
          form(method="post",
               action="/data_collecting/service/parameters",
               name="data_collecting_serviceForm",
               id="data_collecting_serviceForm",
               novalidate)
            .row
              .col
                .input-group(style="align-items: center;")
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox",
                                               name="data_collecting_service_is_active",
                                               id="data_collecting_service_is_active")
                    label.custom-control-label(for="data_collecting_service_is_active") Ligado
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Ativa ou desativa todas as coleta em todos os dispositivos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry.my-2(style="flex-grow: 1;")
                    label(for="data_collecting_service_alarm_fqdn") Endereço do serviço
                    input.form-control(type="text",
                                       id="data_collecting_service_alarm_fqdn",
                                       required="required",
                                       minlength="3",
                                       oninput="checkFqdn(event)")
                    .invalid-feedback Insira um endereço válido
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Usados por todos os dispositivos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            hr
            .row
              .col
                .input-group(style="align-items: center;")
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox",
                                               name="data_collecting_service_burst_loss",
                                               id="data_collecting_service_burst_loss")
                    label.custom-control-label(for="data_collecting_service_burst_loss") Coleta de perda de pacote
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Ativa e desativa a coleta de perda de pacotes em todos os dispositivos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry.my-2(style="flex-grow: 1;")
                    label(for="data_collecting_ping_service_fqdn") Endereço para ping na coleta de perda de pacote
                    input.form-control(type="text",
                                       id="data_collecting_service_ping_fqdn",
                                       required="required",
                                       minlength="3",
                                       oninput="checkFqdn(event)")
                    .invalid-feedback.show Insira um endereço válido
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Valor padrão de todos os dispositivos que não tiverem um valor individual próprio."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry.my-2(style="flex-grow: 1;")
                    label(for="data_collecting_service_ping_packets") Quantidade de pacotes ping na coleta de perda de pacote
                    input.form-control(type="number",
                                       id="data_collecting_service_ping_packets",
                                       min=100,
                                       max=100,
                                       value=100,
                                       placeholder=100)
                    .invalid-feedback Por enquanto apenas pode ser 100
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Usados por todos os dispositivos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            hr
            .row
              .col
                .input-group(style="align-items: center;")
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox",
                                               name="data_collecting_service_conn_pings",
                                               id="data_collecting_service_conn_pings")
                    label.custom-control-label(for="data_collecting_service_conn_pings") Coleta de conectividade
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Ativa e desativa a coleta de conectividade em todos os dispositivos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            hr
            .row
              .col
                .input-group(style="align-items: center;")
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox",
                                               name="data_collecting_service_wifi_devices",
                                               id="data_collecting_service_wifi_devices")
                    label.custom-control-label(for="data_collecting_service_wifi_devices") Coleta de sinal dos dispositivos no wifi
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Ativa e desativa a coleta de de sinal dos dispositivos no wifi em todos os dispositivos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg

            .row
              .col.text-center
                button.btn.btn-primary(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp Salvar

        br

        .data_collecting_massupdate-header.border.row.pl-2.pr-2.pt-3.pb-3.ml-0.mr-0
          .col-1
            .panel-arrow.fas.fa-chevron-down.fa-lg.mt-1
          .col-11
            h5 Alterações em massa das configurações individuais
        .pl-3.pr-3.pb-3.pt-3.grey.lighten-5.border(style="display: none;")
          p Os parâmetros definidos aqui serão aplicados a todos os dispositivos listados na atual busca feita. Campos sem valor, ou em branco, não serão gravados, serão mantidos os valores já existente em cada dispositivo.
          .col.text-center
            p
              | Serão alterados 
              strong.amountOfDevices
              |  dispositivo
              span.plural
              | .
          form(method="post",
               action="/data_collecting/massupdate/parameters",
               name="data_collecting_updateManyForm",
               id="data_collecting_updateManyForm",
               novalidate)
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-1
                    .md-selectfield.form-control
                      label(for="data_collecting_mass_update_is_active") Ligado
                      select.browser-default.md-select(id="data_collecting_mass_update_is_active")
                        option(value="") Não alterar
                        option(value="True") Ativa
                        option(value="False") Desativa
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Se o serviço de coleta não estiver ligado, os dispositivos ativos se comportarão como desativos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            hr
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-1
                    .md-selectfield.form-control
                      label(for="data_collecting_mass_update_burst_loss") Coleta de perda de pacote
                      select.browser-default.md-select(id="data_collecting_mass_update_burst_loss")
                        option(value="") Não alterar
                        option(value="True") Ativa
                        option(value="False") Desativa
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Se o serviço de coleta não estiver ligado, os dispositivos ativos se comportarão como desativos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-2
                    label(for="data_collecting_mass_update_ping_fqdn") Endereço para ping na coleta de perda de pacote
                    input.form-control(list="ping_mass_update",
                                       id="data_collecting_mass_update_ping_fqdn",
                                       type="text"
                                       style="flex-grow: 1;",
                                       oninput="datalistFqdn(event)")
                    .invalid-feedback Insira um endereço válido
                    datalist(id="ping_mass_update")
                        option(value="Não alterar")
                        option(value="Apagar")
                  .input-group-append(
                      data-toggle="tooltip",
                      title="Usados por todos os dispositivos. Campo em branco signfica que esta configuração não será alterada."
                    )
                      span.input-group-text.md-addon.pr-0
                        .fas.fa-question-circle.fa-lg
            hr
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-1
                    .md-selectfield.form-control
                      label(for="data_collecting_mass_update_conn_pings") Coleta de conectividade
                      select.browser-default.md-select(id="data_collecting_mass_update_conn_pings")
                        option(value="") Não alterar
                        option(value="True") Ativa
                        option(value="False") Desativa
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Se o serviço de coleta não estiver ligado, os dispositivos ativos se comportarão como desativos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            hr
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-1
                    .md-selectfield.form-control
                      label(for="data_collecting_mass_update_wifi_devices") Coleta de sinal dos dispositivos no wifi.
                      select.browser-default.md-select(id="data_collecting_mass_update_wifi_devices")
                        option(value="") Não alterar
                        option(value="True") Ativa
                        option(value="False") Desativa
                  .input-group-append(
                    data-toggle="tooltip",
                    title="Se o serviço de coleta não estiver ligado, os dispositivos ativos se comportarão como desativos."
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col.text-center
                button.btn.btn-primary(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp Alterar



#data_collecting-device-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-chart-bar.fa-lg
          strong.ml-3
            | Coleta de Dados do dispositivo 
            span#data_collecting_deviceId
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body

        form(method="post",
             name="data_collecting_deviceForm",
             id="data_collecting_deviceForm",
             novalidate)
          .row
            .col
              .input-group(style="align-items: center;").my-2
                .custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox",
                                             name="data_collecting_device_is_active",
                                             id="data_collecting_device_is_active")
                  label.custom-control-label(for="data_collecting_device_is_active") Ligada
                .input-group-append(
                  data-toggle="tooltip",
                  title="Se o serviço de coleta não estiver ligado, este dispositivo não efetuará esta coleta."
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          hr
          .row
            .col
              .input-group(style="align-items: center;").my-2
                .custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox",
                                             name="data_collecting_device_burst_loss",
                                             id="data_collecting_device_burst_loss")
                  label.custom-control-label(for="data_collecting_device_burst_loss") Coleta de perda de pacote
                .input-group-append(
                  data-toggle="tooltip",
                  title="Se o serviço de coleta não estiver ligado e com a coleta de perda de pacote do servico habilitada, este dispositivo não efetuará esta coleta."
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          .row
            .col
              .input-group
                .md-form.input-entry.my-2(style="flex-grow: 1;")
                  label(for="data_collecting_device_ping_fqdn") Endereço para ping na coleta de perda de pacote
                  input.form-control(type="text",
                                     id="data_collecting_device_ping_fqdn",
                                     minlength="3",
                                     oninput="checkDeviceFqdn(event)")
                  .invalid-feedback Insira um endereço válido
                .input-group-append(
                  data-toggle="tooltip",
                  title="IPv4, IPv6 ou endereço de DNS. Campo vazio faz o dispositivo seguir o valor padrão do serviço."
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          hr
          .row
            .col
              .input-group(style="align-items: center;").my-2
                .custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox",
                                             name="data_collecting_device_conn_pings",
                                             id="data_collecting_device_conn_pings")
                  label.custom-control-label(for="data_collecting_device_conn_pings") Coleta de conectividade
                .input-group-append(
                  data-toggle="tooltip",
                  title="Se o serviço de coleta não estiver ligado e com a coleta de conectividade do serviço habilitada, este dispositivo não efetuará esta coleta."
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          hr
          .row
            .col
              .input-group(style="align-items: center;").my-2
                .custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox",
                                             name="data_collecting_device_wifi_devices",
                                             id="data_collecting_device_wifi_devices")
                  label.custom-control-label(for="data_collecting_device_wifi_devices") Coleta de sinal dos dispositivos no wifi
                .input-group-append(
                  data-toggle="tooltip",
                  title="Se o serviço de coleta não estiver ligado e com a coleta de sinal dos dispositivos no wifi habilitada, este dispositivo não efetuará esta coleta."
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          .row
            .col.text-center
              button.btn.btn-primary(type="submit")
                .fas.fa-check.fa-lg
                span &nbsp Salvar


