#wan-bytes.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-chart-line.fa-lg
          strong &nbsp; #{t('wanBytesFor')}&nbsp;
          strong(name="wan-bytes-visual" id="wan-bytes-visual")
          span.d-none(name="wan-bytes-hlabel" id="wan-bytes-hlabel")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        .row
          .col.p-0.text-right
            button#btn-wan-bytes-refresh.btn.btn-primary.btn-sm
              i.fas.fa-sync-alt.fa-lg
              span &nbsp; #{t('Update')}
        .row#wan-bytes-placeholder-ready
          .col
            h2.text-center.grey-text.mb-3
              i.fas.fa-exchange-alt.fa-4x
              br
              br
              span= t('updateDataToView')
        .row#wan-bytes-placeholder-progress
          .col
            h2.text-center.grey-text.mb-3
              i.fas.fa-spinner.fa-pulse.fa-4x
              br
              br
              span= t('updatingWanBytes...')
        .row#wan-bytes-placeholder-none
          .col
            h2.text-center.grey-text.mb-3
              i.fas.fa-exchange-alt.fa-4x
              br
              br
              span= t('noDataFound')
        #wan-bytes-graphs
          #wan-bytes-down-graph
          hr
          #wan-bytes-up-graph
