
#port-forward-tr069-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-lock-open.fa-lg
          strong &nbsp; #{t('portOpenningForCpe')} &nbsp;
            label(name="port-forward-tr069-main-label" id="port-forward-tr069-main-label")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      #port-forward-tr069-modal-alert.d-none.p-3.bg-danger.text-white
      .modal-body
        #port-forward-tr069-modal-reboot-info.d-none.row.p-3.alert.alert-danger.mb-3(aria-alert="true")
          .fas.fa-exclamation-triangle.fa-lg
          span &nbsp; #{t('portOpeningRebootAlert')}
        #port-forward-tr069-modal-compat-info.d-none.row.p-3.alert.alert-info(aria-alert="true")
          .row
            .col-11
              .fas.fa-info-circle.fa-lg.mr-2
              span#port-forward-tr069-modal-compat-info-message
            .col-1
              button.text-white.close(type="button", data-dismiss="alert")
                .fas.fa-times
          .row
            ul#port-forward-tr069-modal-compat-info-list
        .row.d-none#port-forward-tr069-advanced-options-labels
          .col-3
          .col-4.text-center
            label= t('sourcePorts')
          .col-4.text-center
            label= t('destinationPorts')
        .row.justify-content-start.align-items-center.flexwrap
          .col-md-3.col-6
            .md-form.input-entry
              label#port-forward-tr069-ip-address-label= t('ipAddress')
              input.form-control.ip-mask-field#port-forward-tr069-ip-address-input(type="text")
              .invalid-feedback= t('ipNeedsTobeInTheSameCpeSubnetRange')
          .col-md-2.col-4.port-forward-tr069-port
            .md-form.input-entry
              label.port-forward-tr069-port-label= t('Port')
              input.form-control.port-forward-tr069-port-input(type="number", min="0", max="65535")
          .col-md-2.col-4.d-none.port-forward-tr069-port
            .md-form.input-entry
              label.port-forward-tr069-port-label= t('PortX', {x: 2})
              input.form-control.port-forward-tr069-port-input(type="number", min="0", max="65535")
          .col-md-2.col-4.d-none.port-forward-tr069-port
            .md-form.input-entry
              label.port-forward-tr069-port-label= t('PortX', {x: 3})
              input.form-control.port-forward-tr069-port-input(type="number", min="0", max="65535")
          .col-md-2.col-4.d-none.port-forward-tr069-port
            .md-form.input-entry
              label.port-forward-tr069-port-label= t('PortX', {x: 4})
              input.form-control.port-forward-tr069-port-input(type="number", min="0", max="65535")
          div
            button.btn.btn-sm.btn-primary.waves-effect.waves-light.m-0#port-forward-tr069-add-port-mapping-button(type="button", onclick='checkPortMappingInputs()')
              .fas.fa-plus.fa-lg
        .row
          .col
            label.mr-3= t('advancedOptions')
            a.fas.mr-3.hover-effect.fa-chevron-down#port-forward-tr069-advanced-options-chevron(data-toggle="collapse",
                      href="#port-forward-tr069-advanced-options-collapse",
                      role="button")
            a.fas.mr-3.fa-question-circle(
              data-toggle="tooltip",
              title=t('tr069AdvancedOptionsTooltip'),
          )
        .row
          .col
            .collapse#port-forward-tr069-advanced-options-collapse
              .custom-control.custom-checkbox
                input.custom-control-input(type="checkbox", onchange="checkAdvancedOptions()")#port-forward-tr069-range-of-ports-checkbox
                label.mx-3.custom-control-label(for="port-forward-tr069-range-of-ports-checkbox")= t('openARangeOfPorts')
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title=t("tr069RangeOfPortsTooltip"),
                )
              .custom-control.custom-checkbox
                input.custom-control-input(type="checkbox" onchange="checkAdvancedOptions(this)")#port-forward-tr069-asym-opening-checkbox
                label.mx-3.custom-control-label(for="port-forward-tr069-asym-opening-checkbox")= t('openAsymmetrically')
                a.fas.fa-question-circle(
                  data-toggle="tooltip",
                  title=t('tr069AsymPortOpenningTooltip'),
                )
        .row
          .col
            .table-responsive
              table.table
                thead
                  tr
                    th.text-left= t('Devices')
                    th.text-center= t('Ports')
                    th.text-right
                      a.fas.fa-question-circle.mr-4(
                        data-toggle="tooltip",
                        title=t('devicesPortsTooltip'),
                      )
                      button.btn.btn-sm.btn-danger.m-0(type='button', onclick='removeAllPortMapping()')
                        .fas.fa-trash.fa-lg
                tbody#port-forward-tr069-table
      .modal-footer 
        button.btn.btn-primary#port-forward-tr069-submit-button(type="button")
          .fas.fa-check.fa-lg
          span &nbsp; #{t('Apply')}
