
#factory-credentials-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      
      //- Header of the modal
      .modal-header
        p.heading.lead

          //- Icon
          span.fas.fa-key.fa-lg

          //- Tittle
          strong &nbsp; #{t('factoryCredentialsPresetLabel')}
          //- &nbsp;

        //- Close button
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      
      //- Alert
      #factory-credentials-modal-alert
      
      //- Body of the modal
      .modal-body#factory-credentials-modal-canvas
        .row.justify-content-start.align-items-center.flexwrap
          //- Vendor dropdown
          .col-6
            .md-form.md-selectfield.form-control
              label#factory-credentials-vendor-label #{t('Manufacturer')}
              select.browser-default.md-select(
                name="selected-vendor"
              )#factory-credentials-vendor-entries

          //- Model dropdown
          .col-6
            .md-form.md-selectfield.form-control
              label#factory-credentials-model-label #{t('Model')}
              select.browser-default.md-select(
                name="selected-model"
              )#factory-credentials-model-entries

        .row.justify-content-start.align-items-center.flexwrap
          //- User field
          .col-6
            .md-form.input-entry
              label#factory-credentials-user-label #{t('User')}
              input.form-control.ip-mask-field(
                type="text",
              )#factory-credentials-user-input
              .invalid-feedback Usuário inválido

          //- Password field
          .col-6
            .md-form.input-entry
              label#factory-credentials-password-label #{t('Password')}
              input.form-control.ip-mask-field(
                type="text",
              )#factory-credentials-password-input
              .invalid-feedback Senha inválida

        .row.justify-content-center.align-items-center.flexwrap
            //- Apply button
            #factory-credentials-add-button.button.btn.btn-primary(
              type="button",
            )
              .fas.fa-plus.fa-lg
              span &nbsp; #{t('Add')}

        //- Credentials table
        .table-responsive
          table.table
            //- Table head
            thead
              tr
                //- Devices column header
                th.text-left #{t('Devices')}
                
                //- Users column header
                th.text-left #{t('User')}

                //- Passwords column header
                th.text-left #{t('Password')}

                //- Delete all button
                th.text-right
                  a.fas.fa-question-circle.mr-4(
                    data-toggle="tooltip",
                    title=t('removeAll'),
                  )
                  button.btn.btn-sm.btn-danger.m-0(
                    type='button',
                  )#factory-credentials-remove-all
                    .fas.fa-trash.fa-lg

            //- Table body
            tbody#factory-credentials-table

        //- Empty credentials message
        .row.my-3#factory-credentials-table-none
          .col
            h5.text-center
              span= t('noFactoryCredentialConfigured')

      //- Footer of the modal
      .modal-footer
        //- Apply button
        #factory-credentials-submit-button.button.btn.btn-primary(
          type="button",
        )
          .fas.fa-check.fa-lg
          span &nbsp; #{t('Apply')}
