
#lan-devices.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p#isBridgeDiv.d-none
        p.heading.lead
          span.fas.fa-network-wired.fa-lg
          strong &nbsp;#{t('localNetworkFor')}&nbsp;
          strong(name="lan-devices-visual" id="lan-devices-visual")
          span.d-none(name="lan-devices-hlabel" id="lan-devices-hlabel")
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body.pt-2
        #show-spam-error.row
          .col.alert.alert-danger(aria-alert="true")
            .row
              .col.text-left
                .fas.fa-info-circle.fa-lg.mr-2
                span#spam-error-message
        .row
          .col.p-0.text-left
            .btn-group.btn-group-sm.m-1.btn-group-lan-opts(role="group")
              button.btn.btn-primary.btn-sm.btn-show-lan-devs.active(type="button")
                i.fas.fa-mobile-alt.fa-lg
                span &nbsp; #{t('Devices')}
              button.btn.btn-primary.btn-sm.btn-show-lan-routers
                i.fas.fa-network-wired.fa-lg
                span &nbsp; CPEs
          .col.p-0.text-right
            button.btn.btn-primary.btn-sm.m-1.btn-sync-lan
              i.fas.fa-sync-alt.fa-lg
              span &nbsp; #{t('Update')}
        .row.pt-3#lan-devices-placeholder
          .col
            h2.text-center.grey-text.mb-3
              i.fas.fa-spinner.fa-pulse.fa-4x
              br
              br
              span= t('updatingConnectedDevices...')
              br
              span#lan-devices-placeholder-counter 0 de 1
        .row#lan-devices-placeholder-none
          .col
            h2.text-center.grey-text.mb-3
              i.fas.fa-network-wired.fa-4x
              br
              br
              span= t('noDevicesFound')
        .row#lan-devices-body
        .row#lan-routers-body
