#config-lan-dns-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      //- Header of the modal
      .modal-header
        p.heading.lead

          //- Icon
          span.fas.fa-server.fa-lg

          //- Tittle
          strong &nbsp; #{t('dnsServerInfoTitle')}

        //- Close button
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;

      //- Modal body
      .modal-body#config-lan-dns-modal-canvas
        //- New DNS input section
        .div#add-new-dns-section
          .row.mt-1.justify-content-center.align-items-center.flexwrap
            //- DNS Server Address input
            .col
              .md-form.input-entry
                label#config-lan-dns-label #{t('dnsServerAddress')}
                input.form-control.ip-mask-field(
                  type="text",
                )#config-lan-dns-input
                .invalid-feedback Endereço inválido
            //- Toggle tip
            .row-md-1.black-text
              a.fas.fa-question-circle.mr-4(
                  data-toggle="tooltip",
                  title=t('dnsServerAddressTooltip'),
                )
          .row.mt-1.justify-content-center.align-items-center.flexwrap
            //- Apply button
            #config-lan-dns-add-button.button.btn.btn-primary(
              type="button",
            )
              .fas.fa-plus.fa-lg
              span &nbsp; #{t('Add')}
        //- Cannot add new DNS warning section
        .div#cannot-add-new-dns-section
          .row.mt-1.justify-content-center.align-items-center.flexwrap
            .col
              h1.text-center(style='opacity: 0.5;font-size: 4rem;')
                i.fas.fa-server.fa-lg
              h3.text-center#max-dns-warning
        
        //- DNS Servers Table
        .table-responsive#lan-dns-table-show
          table.table.mb-1
            //- Table head
            thead
              tr
                //- DNS Servers addresses column header
                th.text-left #{t('dnsServerAddresses')}

                //- Delete all button
                th.text-right
                  a.fas.fa-question-circle.mr-4(
                    data-toggle="tooltip",
                    title=t('removeAll'),
                  )
                  button.btn.btn-sm.btn-danger.m-0(
                    type='button',
                  )#config-lan-dns-remove-all
                    .fas.fa-trash.fa-lg
                    
            //- Table body
            tbody#config-lan-dns-table
        
        //- No DNS Server configured
        .row.my-3#config-lan-dns-table-none
          .col
            h5.text-center
              span= t('noDnsServerConfigured')

        .row.mt-1.justify-content-center.align-items-center.flexwrap#cannot-remove-all-warning
          .col
            .alert.alert-danger.mb-0
              .fas.fa-exclamation-triangle.fa-lg
              span &nbsp; #{t('dnsCannotBeEmpty')}

        hr.mt-f
        .row.justify-content-center.align-items-center.flexwrap
          .col-md-9
          .col-md-3
            //- Apply button
            #config-lan-dns-submit-button.button.btn.btn-primary(
              type="button",
            )
              //- Loading message
              .div#loading-message
                .fas.fa-spinner.fa-pulse
                span &nbsp; #{t('wait')}
              //- Apply message
              .div#apply-message
                .fas.fa-check.fa-lg
                span &nbsp; #{t('Apply')}
