#data_collecting-service-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-chart-bar.fa-lg
          strong.ml-3= t('dataCollecting')
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body
        
        .data_collecting_service-header.border.row.pl-2.pr-2.pt-3.pb-3.ml-0.mr-0
          .col-1
            .panel-arrow.fas.fa-chevron-down.fa-lg.mt-1
          .col-11
            h5= t('dataCollectingServiceConfigurations')
        .pl-3.pr-3.pb-3.pt-3.grey.lighten-5.border(style="display: none;")
          p= t('parametersUsedAsStandardValueForAllDevices')
          form(method="post",
               action="/data_collecting/service/parameters",
               name="data_collecting_serviceForm",
               id="data_collecting_serviceForm",
               novalidate)
            .row
              .col
                .input-group(style="align-items: center;")
                  .custom-control.custom-checkbox
                    input.custom-control-input(type="checkbox",
                                               name="data_collecting_service_is_active",
                                               id="data_collecting_service_is_active")
                    label.custom-control-label(for="data_collecting_service_is_active")= t('On')
                  .input-group-append(
                    data-toggle="tooltip",
                    title=t('generalDataCollectingOperationForAllDevices')
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry.my-2(style="flex-grow: 1;")
                    label(for="data_collecting_service_alarm_fqdn")= t('serviceAddress')
                    input.form-control(type="text",
                                       id="data_collecting_service_alarm_fqdn",
                                       required="required",
                                       minlength="3",
                                       oninput="checkFqdn(event)")
                    .invalid-feedback= t('inputValidAddress')
                  .input-group-append(
                    data-toggle="tooltip",
                    title=t('usedByAllDevices')
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry.my-2(style="flex-grow: 1;")
                    label(for="data_collecting_ping_service_fqdn")= t('pingAddress')
                    input.form-control(type="text",
                                       id="data_collecting_service_ping_fqdn",
                                       required="required",
                                       minlength="3",
                                       oninput="checkFqdn(event)")
                    .invalid-feedback.show= t('inputValidAddress')
                  .input-group-append(
                    data-toggle="tooltip",
                    title=t('standardValueForAllDevicesWithoutOwnValue')
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry.my-2(style="flex-grow: 1;")
                    label(for="data_collecting_service_ping_packets")= t('amountOfPingPackets')
                    input.form-control(type="number",
                                       id="data_collecting_service_ping_packets",
                                       min=100,
                                       max=100,
                                       value=100,
                                       placeholder=100)
                    .invalid-feedback= t('canOnlyBy100')
                  .input-group-append(
                    data-toggle="tooltip",
                    title=t('usedByAllDevices')
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col.text-center
                button.btn.btn-primary(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp; #{t('Save')}

        br

        .data_collecting_massupdate-header.border.row.pl-2.pr-2.pt-3.pb-3.ml-0.mr-0
          .col-1
            .panel-arrow.fas.fa-chevron-down.fa-lg.mt-1
          .col-11
            h5= t('massUpdateIndividualConfigurations')
        .pl-3.pr-3.pb-3.pt-3.grey.lighten-5.border(style="display: none;")
          p= t('parametersHereWillBeAppliedToAllSelectedDevices')
          .col.text-center
            p.nDevicesWillBeChanged= t('nDevicesWillBeChanged', {total: 0})
          form(method="post",
               action="/data_collecting/massupdate/parameters",
               name="data_collecting_updateManyForm",
               id="data_collecting_updateManyForm",
               novalidate)
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-1
                    .md-selectfield.form-control
                      label(for="data_collecting_mass_update_is_active")= t('lossCollection')
                      select.browser-default.md-select(id="data_collecting_mass_update_is_active")
                        option(value="")= t('doNotChange')
                        option(value="True")= t('Activated')
                        option(value="False")= t('Deactivated')
                  .input-group-append(
                    data-toggle="tooltip",
                    title=t('ifCollectingIsOffDeviceWillBehaveAsOff')
                  )
                    span.input-group-text.md-addon.pr-0
                      .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-1
                    .md-selectfield.form-control
                      label(for="data_collecting_mass_update_has_latency")= t('latencyCollection')
                      select.browser-default.md-select(id="data_collecting_mass_update_has_latency")
                        option(value="")= t('doNotChange')
                        option(value="True")= t('Activated')
                        option(value="False")= t('Deactivated')
                  .input-group-append(
                      data-toggle="tooltip",
                      title=t('ifCollectingIsOffDeviceWillBehaveAsOff')
                    )
                      span.input-group-text.md-addon.pr-0
                        .fas.fa-question-circle.fa-lg
            .row
              .col
                .input-group
                  .md-form.input-entry(style="flex-grow: 1;").my-2
                    label(for="data_collecting_mass_update_ping_fqdn")= t('pingAddress')
                    input.form-control(list="ping_mass_update",
                                       id="data_collecting_mass_update_ping_fqdn",
                                       type="text"
                                       style="flex-grow: 1;",
                                       oninput="datalistFqdn(event)")
                    .invalid-feedback= t('inputValidAddress')
                    datalist(id="ping_mass_update")
                        option(value=t('doNotChange'))
                        option(value=t('Erase'))
                  .input-group-append(
                      data-toggle="tooltip",
                      title=t('usedByAllDevicesBlankMeansNoChange')
                    )
                      span.input-group-text.md-addon.pr-0
                        .fas.fa-question-circle.fa-lg
            .row
              .col.text-center
                button.btn.btn-primary(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp; #{t('Change')}



#data_collecting-device-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content
      .modal-header
        p.heading.lead
          span.fas.fa-chart-bar.fa-lg
          strong.ml-3#data_collecting_deviceId= t('dataCollectingForDeviceId', {id: '00:00:00:00:00:00'})
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      .modal-body

        form(method="post",
             name="data_collecting_deviceForm",
             id="data_collecting_deviceForm",
             novalidate)
          .row
            .col
              .input-group(style="align-items: center;").my-2
                .custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox",
                                             name="data_collecting_device_is_active",
                                             id="data_collecting_device_is_active")
                  label.custom-control-label(for="data_collecting_device_is_active")= t('lossCollection')
                .input-group-append(
                  data-toggle="tooltip",
                  title=t('ifCollectingIsOffThisMeasureWillNotHappen')
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          .row
            .col
              .input-group(style="align-items: center;").my-2
                .custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox",
                                             name="data_collecting_device_has_latency",
                                             id="data_collecting_device_has_latency")
                  label.custom-control-label(for="data_collecting_device_has_latency")= t('latencyCollection')
                .input-group-append(
                  data-toggle="tooltip",
                  title=t('ifCollectingIsOffThisMeasureWillNotHappen')
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          .row
            .col
              .input-group
                .md-form.input-entry.my-2(style="flex-grow: 1;")
                  label(for="data_collecting_device_ping_fqdn")= t('pingAddress')
                  input.form-control(type="text",
                                     id="data_collecting_device_ping_fqdn",
                                     minlength="3",
                                     oninput="checkDeviceFqdn(event)")
                  .invalid-feedback= t('inputValidAddress')
                .input-group-append(
                  data-toggle="tooltip",
                  title=t('dataCollectingPingFqdnTooltip')
                )
                  span.input-group-text.md-addon.pr-0
                    .fas.fa-question-circle.fa-lg
          .row
            .col.text-center
              button.btn.btn-primary(type="submit")
                .fas.fa-check.fa-lg
                span &nbsp; #{t('Save')}
