#laninfo-modal.modal.fade(tabindex="-1", role="dialog")
  .modal-dialog.modal-notify.modal-teal.modal-lg(role="document")
    .modal-content

      //- Header of the modal
      .modal-header
        p.heading.lead

          //- File Icon
          span.fas.fa-file-alt.fa-lg

          //- Tittle
          strong &nbsp; #{t('lanInfoOf')}&nbsp;

          //- Device ID
          strong(name="laninfo-visual" id="laninfo-visual")

        //- Close button
        button.close(type="button", data-dismiss="modal")
          span.white-text &times;
      #frame-laninfo-modal-alert

      //- Body of the modal
      .modal-body#laninfo-canvas

        //- Update button
        .row
          .col.p-0.text-right
            button#btn-laninfo-update.btn.btn-primary.btn-sm.m-1
              i#btn-laninfo-ipdate-icon.fas.fa-sync-alt.fa-lg
              span &nbsp; #{t('Update')}

        //- Refresh icon and text
        #laninfo-loading-section.row.pt-3
          .col
            h2.text-center.grey-text.mb-3
              //- Icon
              i.fas.fa-spinner.fa-pulse.fa-4x
              br
              br
              //- Title
              span= t('updatingInformations...')

        //- No information
        #laninfo-no-information-section.row.pt-3
          .col
            h2.text-center.grey-text.mb-3
              i.fas.fa-network-wired.fa-4x
              br
              br
              span= t('noExtraInformation')

        //- Information items
        //- Prefix Delegation
        #prefix-delegation-information.row
          .col.p-0
            //- Prefix Delegation Title
            h5.text-muted.m-0= t('prefixDelegationInfoTitle')
            hr.my-1

            .row.pt-2.pl-3.pr-3
              .col.mr-1.grey.lighten-4
                //- Prefix Delegation (Address)
                .row.pt-2#prefix-delegation
                  .col
                    .span #{t('ipv6PrefixDelegation')}
                .row.pt-2.pb-2
                  .col
                    .span#prefix-delegation-input

              .col.ml-1.grey.lighten-4
                //- Prefix Delegation Mask
                .row.pt-2#prefix-delegation-mask
                  .col
                    .span #{t('ipv6PrefixDelegationMask')}
                .row.pt-2.pb-2
                  .col
                    .span#prefix-delegation-mask-input

            .row.pt-2.pb-2.pl-3.pr-3
              .col.mr-1.grey.lighten-4
                //- Prefix Delegation local address
                .row.pt-2#prefix-delegation-local-address
                  .col
                    .span #{t('ipv6PrefixDelegationLocal')}
                .row.pt-2.pb-2
                  .col
                    .span#prefix-delegation-local-address-input
