extends layout

block content
  .row.justify-content-center
    .col-6
      .card.mt-5
        .card-body
          .row.justify-content-center
            .col-8
              p.h4.text-center.mb-4= t('passwordRenewal')

              form.needs-validation(method='post', action='/user/edit/' + user._id, novalidate)
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  label(for="password")= t('newPassword')
                  input#password.form-control(
                    type="password",
                    name="password",
                    required)
                  .invalid-feedback= t('pleaseFillInThisField')
                .md-form
                  i.fas.fa-lock.prefix.grey-text
                  label(for="passwordack")= t('repeatNewPassword')
                  input#passwordack.form-control(
                    type="password",
                    name="passwordack",
                    oninput="check(this)"
                  )
                  .invalid-feedback= t('passwordsAreDifferent')
                .form-buttons.text-center
                  button.btn.btn-primary.btn-lg.teal.lighten-2(type="submit")= t('Alter')

block scripts
  script(src='/dist/changepassword.bundle.js')
