extends layout

block content
  include includes/showsearchterms
  include includes/showdevicelogs
  include includes/configdevicefirewall
  include includes/showpingtest

  .row.justify-content-center
    .col-12.col-lg-8.mt-4
      form(action="/devicelist/search")
        .mt-4.input-group
          input.form-control.tags-input(type="tags", name="content",
                                        placeholder="Buscar...")
          .input-group-append(
            data-toggle="tooltip",
            title="-Use as vírgulas para combinar os filtros desejados. (Exemplo: TP-Link, 0001-aix)"
          )
            span.input-group-text.md-addon
              .fas.fa-question-circle.fa-lg
          .input-group-btn
            button.my-0.btn.teal.lighten-2(type="submit")
              .fas.fa-search.fa-lg
        a.badge.teal.lighten-2.bounceIn(
          data-toggle="modal",
          data-target="#special-search-terms"
        )
          | Termos Especiais &nbsp
          .fas.fa-plus-circle

  if (superuser || role.grantDeviceAdd)
    .row.justify-content-center
      .col-12.col-lg-8.mt-5
        .card
          h4.card-header.teal.lighten-2.white-text(id="card-header",
                                                    data-toggle="collapse",
                                                    data-target="#deviceCard",
                                                    style="cursor: pointer;")
            .row
              .col-1
                .fas.fa-plus
              .col-10.text-center
                span.card-title Adicionar novo roteador
          .card-body.collapse.out(id="deviceCard")
            include includes/newdeviceform

  .row.justify-content-center
    .col-12.mt-4
      if ! devices || devices.length == 0
        h3.mt-2.text-center Nenhum roteador registrado
      else
        .row
          .col-12.col-lg-3.offset-lg-9
            .md-form.mb-0
              .input-group
                .md-selectfield.form-control
                  label Registros por página
                  select.browser-default.md-select(id="input-elements-pp")
                    option(value="" disabled selected) Selecione...
                    option(value=10 selected=(elementsperpage == 10)) 10
                    option(value=50 selected=(elementsperpage == 50)) 50
                    option(value=100 selected=(elementsperpage == 100)) 100
                    option(value=250 selected=(elementsperpage == 250)) 250
                    option(value=500 selected=(elementsperpage == 500)) 500
                .input-group-btn
                  button.btn.teal.lighten-2.mr-0.my-0(
                    type="button",
                    id="btn-elements-per-page") Ok
        .card
          .card-body
            .table-responsive
              table.table.devices-table
                thead
                  tr.csv-export(
                    data-pass-show=(superuser || role.grantPassShow ? "true" : "false"),
                    data-deviceid="Endereço MAC",
                    data-connection-type="Tipo de Conexão WAN",
                    data-user="Usuário PPPoE",
                    data-pass="Senha PPPoE",
                    data-ssid="WiFi SSID",
                    data-wifi-pass="WiFi Senha",
                    data-channel="WiFi Canal",
                    data-band="Largura de banda",
                    data-mode="Modo de operação",
                    data-ssid-5ghz="WiFi SSID 5GHz",
                    data-wifi-pass-5ghz="WiFi Senha 5GHz",
                    data-channel-5ghz="WiFi Canal 5GHz",
                    data-band-5ghz="Largura de banda 5GHz",
                    data-mode-5ghz="Modo de operação 5GHz",
                    data-ext-wan="IP Público",
                    data-int-wan="IP WAN",
                    data-wan-speed="Velocidade WAN negociada"
                    data-wan-duplex="Modo de transmissão WAN (duplex)"
                    data-external-ref-type="Tipo de ID do cliente",
                    data-external-ref="ID do cliente",
                    data-device-model="Modelo do roteador",
                    data-device-version="Versão do Flashbox",
                    data-device-release="Release",
                    data-do-update="Atualizar Firmware"
                  )
                    th
                    th.text-center #
                    th.text-center
                      span Status &nbsp
                      a.fas.fa-question-circle(
                        href="#",
                        data-toggle="tooltip",
                        title="Verde: Online\nVermelho: Instável. Sem resposta imediata\nCinza: Sem resposta por mais de 1 hora",
                      )
                    th.text-center Usuário PPPoE
                    th.text-center Endereço MAC
                    th.text-center IP WAN
                    th.text-center IP Público
                    th.text-center Firmware Instalado
                    if (superuser || role.grantFirmwareUpgrade)
                      th.text-left Atualizar Firmware
                tbody
                  tr
                    td
                    td.text-center
                      | #{status.totalnum} total
                    td
                      .fas.fa-circle.green-text
                      span &nbsp
                      span#online-status-sum #{status.onlinenum}
                      br
                      .fas.fa-circle.red-text
                      span &nbsp
                      span#recovery-status-sum #{status.recoverynum}
                      br
                      .fas.fa-circle.grey-text
                      span &nbsp
                      span#offline-status-sum #{status.offlinenum}
                    td
                    td
                    td
                    td
                    td
                    if (superuser || role.grantFirmwareUpgrade)
                      td
                        .btn-group
                          button.btn.btn-sm.btn-danger.px-2#cancel-all-devices
                            .fas.fa-times
                          .btn-group#all-devices
                            button.btn.btn-sm.btn-primary.dropdown-toggle(
                              type="button",
                              data-toggle="dropdown",
                              data-singlereleases=singlereleases,
                              disabled=((superuser || role.grantFirmwareUpgrade) ? false : true)
                            )
                              span.selected Escolher
                            .dropdown-menu
                              each release, idx in singlereleases
                                a.dropdown-item.text-center #{release.id}
                            span.ml-2.upgrade-status
                              .far.fa-circle.fa-2x.white-text
                  each device, index in devices
                    tr.csv-export(
                      id=device._id,
                      data-index=(index + 1),
                      data-deviceid=device._id,
                      data-connection-type=(device.connection_type ? device.connection_type : ""),
                      data-user=device.pppoe_user,
                      data-pass=device.pppoe_password,
                      data-lan-subnet=device.lan_subnet,
                      data-lan-netmask=device.lan_netmask,
                      data-ssid=device.wifi_ssid,
                      data-wifi-pass=device.wifi_password,
                      data-channel=device.wifi_channel,
                      data-band=(device.wifi_band ? device.wifi_band : ""),
                      data-mode=(device.wifi_mode ? device.wifi_mode : ""),
                      data-ssid-5ghz=(device.wifi_ssid_5ghz ? device.wifi_ssid_5ghz : ""),
                      data-wifi-pass-5ghz=(device.wifi_password_5ghz ? device.wifi_password_5ghz : ""),
                      data-channel-5ghz=(device.wifi_channel_5ghz ? device.wifi_channel_5ghz : ""),
                      data-band-5ghz=(device.wifi_band_5ghz ? device.wifi_band_5ghz : ""),
                      data-mode-5ghz=(device.wifi_mode_5ghz ? device.wifi_mode_5ghz : ""),
                      data-ext-wan=(device.ip ? device.ip : ""),
                      data-int-wan=(device.wan_ip ? device.wan_ip : ""),
                      data-wan-speed=(device.wan_negociated_speed ? device.wan_negociated_speed : ""),
                      data-wan-duplex=(device.wan_negociated_duplex ? device.wan_negociated_duplex : ""),
                      data-external-ref-type=(device.external_reference.kind ? device.external_reference.kind : ""),
                      data-external-ref=(device.external_reference.data ? device.external_reference.data : ""),
                      data-device-model=(device.model ? device.model : ""),
                      data-device-version=(device.version ? device.version : ""),
                      data-device-release=(device.release ? device.release : ""),
                      data-do-update=(device.do_update ? "Sim" : "Não"),
                    )
                      td.text-center(
                        style="cursor: pointer;"
                      )
                        .fas.fa-chevron-down.fa-lg
                      td.text-center #{index + 1}
                      td
                        .fas.fa-circle.fa-lg.device-status(
                          class=status.devices[device._id],
                          data-toggle="tooltip",
                          title=device.last_contact.toString()
                        )
                        span &nbsp
                        span &nbsp
                        if (superuser || role.grantNotificationPopups)
                          a.d-none
                            .fas.fa-exclamation-triangle.fa-lg.orange-text.device-alert.animated.heartBeat.infinite
                      td.text-center
                        | #{device.pppoe_user}
                      td.text-center
                        | #{device._id}
                      td.text-center
                        | #{device.wan_ip}
                      td.text-center
                        | #{device.ip}
                      td.text-center
                        | #{device.installed_release}
                      if (superuser || role.grantFirmwareUpgrade)
                        td
                          .btn-group
                            button.btn.btn-sm.px-2.btn-cancel-update(
                              class=(!device.do_update ? "" : "btn-danger")
                              disabled=!device.do_update
                            )
                              .fas.fa-times
                            .btn-group
                              button.btn.btn-sm.btn-primary.dropdown-toggle(
                                type="button",
                                data-toggle="dropdown"
                                disabled=device.do_update
                              )
                                span.selected #{device.do_update ? device.release : "Escolher"}
                              .dropdown-menu.refresh-selected
                                each release, idx in releases
                                  if device.model.includes('N/')
                                    if (device.model.replace('N/', '') === release.model)
                                      a.dropdown-item.text-center #{release.id}
                                  if (device.model === release.model)
                                    a.dropdown-item.text-center #{release.id}
                              span.ml-3.upgrade-status
                                .far.fa-circle.fa-2x.white-text.status-none(
                                  class=(device.do_update ? "d-none" : "")
                                )
                                .fas.fa-spinner.fa-2x.fa-pulse.status-waiting(
                                  class=(device.do_update && device.do_update_status == 0 ? "" : "d-none")
                                )
                                .fas.fa-check-circle.fa-2x.green-text.status-ok(
                                  class=(device.do_update && device.do_update_status == 1 ? "" : "d-none")
                                )
                                a.status-error(
                                  class=(device.do_update && device.do_update_status >= 2 ? "" : "d-none")
                                )
                                  .fas.fa-exclamation-circle.fa-2x.red-text    
                    tr(
                      id="form-" + (index + 1),
                      data-index=(index + 1),
                      data-deviceid=device._id,
                      data-validate-wifi=(
                        (superuser || role.grantWifiInfo >= 1) ? "true" : "false"),
                      data-validate-pppoe=(
                        (superuser || role.grantPPPoEInfo >= 1) ? "true" : "false"),
                      data-validate-wifi-band=(
                        (devicesPermissions[index].grantWifiBand &&
                        (superuser || role.grantWifiInfo >= 1)) ? "true" : "false"),
                      data-validate-wifi-5ghz=(
                        (devicesPermissions[index].grantWifi5ghz &&
                        (superuser || role.grantWifiInfo >= 1)) ? "true" : "false"),
                      data-minlength-pass-pppoe=minlengthpasspppoe,
                      style="display: none;"
                    )
                      td(colspan=9).grey.lighten-5
                        include includes/editdeviceform
        .row.mt-3.mb-3
          .col-md-9
            nav
              ul.pagination.pagination-lg
                - var cPage = parseInt(page);
                - var delta = 2;
                - var i = 1;
                while i <= pages
                  if (i == 1 || i == pages || ((i >= cPage-delta) && (i <= cPage+delta)))
                    if (i == page)
                      li.page-item.active
                        a.page-link.teal.lighten-2(href="#") #{i}
                    else
                      if (i == pages && (cPage+delta <= pages-delta))
                        li.page-item
                          h3.page-link.disabled ...
                      li.page-item
                        a.page-link(href="?content=" + lastquery + "&page=" + i) #{i}
                      if (i == 1 && (cPage-delta > delta))
                        li.page-item
                          h3.page-link.disabled ...
                  - i++

          .col-md-3
            .text-right
              button#export-csv.btn.teal.lighten-2.mr-0.my-0
                .fas.fa-file-excel.fa-lg
                span &nbsp Exportar CSV

block scripts
  script(src='/scripts/tags-input/tags-input.js')
  script(src='/socket.io/socket.io.js')
  script.
    let socket = io()
  script(src='/scripts/jquery-highlight/jquery.highlight.js')
  script(src='/scripts/pako/pako.js')
  script(src='/javascripts/device_validator.js')
  script(src='/javascripts/new_device.js')
  script(src='/javascripts/edit_device.js')
  script(src='/javascripts/edit_device_firewall.js')
  script(src='/javascripts/show_devices_logs_actions.js')
  script(src='/javascripts/show_ping_test_actions.js')
  script(src='/javascripts/update_device.js')
  script(src='/javascripts/table_anim.js')
  script(src='/javascripts/notification_actions.js',
         devices=(devices.map(device => device._id)
                         .reduce((acc, dev) => acc + ',' + dev, '')))
  script.
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
