extends layout

block content
  include includes/showsearchterms
  include includes/showdevicelogs
  include includes/configdevicefirewall
  include includes/showportforwardtr069
  include includes/showpingtest
  include includes/showspeedtest
  include includes/showlandevices
  include includes/showsitesurvey
  include includes/showvlanmodal
  include includes/showbyteswan
  include includes/showponsignalmeasure
  include includes/showupgradescheduler
  include includes/showrebootmesh
  include includes/showdatacollectingmodal

  if (superuser || (role.grantSearchLevel >= 1))
    if (superuser || (role.grantSearchLevel == 2))
      .row.justify-content-center
        .col-12.col-lg-8.mt-4
          form#devices-search-form(action="/devicelist/search")
            .mt-4.input-group
              input#devices-search-input.form-control.tags-input(type="tags", name="content",
                                                                 placeholder=t('Search...'))
              .input-group-append(
                data-toggle="tooltip",
                title=t('useCommasToCombineFilters')
              )
                span.input-group-text.md-addon
                  .fas.fa-question-circle.fa-lg
              .input-group-btn
                button.my-0.btn.btn-primary(type="submit")
                  .fas.fa-search.fa-lg
            a.badge.teal.lighten-2.bounceIn(
              data-toggle="modal",
              data-target="#special-search-terms"
            )
              | #{t('specialFilters')} &nbsp;
              .fas.fa-plus-circle
    else
      .row.justify-content-center
        .col-12.col-lg-8.mt-4
          form#devices-search-form(action="/devicelist/search")
            .md-form.input-group
              input#devices-search-input.form-control(type="text", name="content",
                                                      placeholder=t('searchForMacIdPppoeUser'))
              .input-group-btn
                button.my-0.btn.btn-primary(type="submit")
                  .fas.fa-search.fa-lg

    if (superuser || role.grantDeviceAdd)
      .row.justify-content-center
        .col-12.col-lg-8.mt-5
          .card
            h4.card-header.teal.lighten-2.white-text(id="card-header",
                                                      data-toggle="collapse",
                                                      data-target="#deviceCard",
                                                      style="cursor: pointer;")
              .row
                .col-1
                  .fas.fa-plus
                .col-10.text-center
                  span.card-title= t('addNewCpe')
            .card-body.collapse.out(id="deviceCard")
              include includes/newdeviceform

    .row.justify-content-center
      .col-12.mt-4
        .row
          .col-12.col-lg-9
            .row.mt-4
              .col-lg-auto.pr-0
                .dropdown
                  a.btn.btn-primary.dropdown-toggle(
                    href="#", role="button", data-toggle="dropdown").ml-0
                    .fas.fa-filter.fa-lg.mr-2
                    | #{t('editColumns')}
                  .dropdown-menu.dont-close
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-4(type="checkbox")
                        label.custom-control-label(for="devices-column-4")= t('pppoeUser')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-5(type="checkbox")
                        label.custom-control-label(for="devices-column-5")= t('uniqueIdentifier')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-6(type="checkbox")
                        label.custom-control-label(for="devices-column-6")= t('wanIp')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-7(type="checkbox")
                        label.custom-control-label(for="devices-column-7")= t('publicIp')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-8(type="checkbox")
                        label.custom-control-label(for="devices-column-8")= t('installedFirmware')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-9(type="checkbox")
                        label.custom-control-label(for="devices-column-9")= t('Identification')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-10(type="checkbox")
                        label.custom-control-label(for="devices-column-10")= t('upTime')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-11(type="checkbox")
                        label.custom-control-label(for="devices-column-11")= t('connectedTime')
                    a.dropdown-item(href="#")
                      .custom-control.custom-checkbox
                        input.custom-control-input#devices-column-12(type="checkbox")
                        label.custom-control-label(for="devices-column-12")= t('opticalSignalState')
                    .dropdown-divider
                    .text-right
                      #save-columns-confirm.fas.fa-check-circle.green-text.mr-1(style="opacity: 0;")
                      button#btn-save-columns-on-page.btn.btn-primary.btn-sm.z-depth-1.mr-3
                        .fas.fa-save.fa-lg.mr-2
                        | #{t('Save')}
              if (superuser || role.grantDeviceMassRemoval)
                .col-lg-auto.pr-0
                  button.ml-0.btn.btn-danger.disabled(type="button", id="btn-trash-multiple")
                    i.fas.fa-trash
                    span &nbsp; #{t('removeMany')}
              if (superuser && enable_data_collecting)
                .col-lg-auto.pr-0
                  button.ml-0.btn.btn-primary(type="button", id="btn-data_collecting-modal")
                    .fas.fa-chart-bar
                    span &nbsp; #{t('dataCollecting')}
          if (superuser || role.grantShowRowsPerPage)
            .col-12.col-lg-3
              .md-form.mb-0
                .input-group
                  .md-selectfield.form-control
                    label= t('rowsPerPage')
                    select.browser-default.md-select(id="input-elements-pp")
                      option(value="" disabled selected)= t('Select...')
                      option(value=10 selected=(elementsperpage == 10)) 10
                      option(value=50 selected=(elementsperpage == 50)) 50
                      option(value=100 selected=(elementsperpage == 100)) 100
                      option(value=250 selected=(elementsperpage == 250)) 250
                      option(value=500 selected=(elementsperpage == 500)) 500
                  .input-group-btn
                    button.btn.btn-primary.mr-0.my-0(
                      type="button",
                      id="btn-elements-per-page")= t('Ok')
        .card
          .card-body.px-3
            .table-responsive
              table.table.table-hover#devices-table
                thead
                  tr
                    th
                    th
                    th.text-left
                      span #{t('Status')} &nbsp;
                      a.fas.fa-question-circle(
                        data-toggle="tooltip",
                        title=t('greenRedGrayLegendTooltip'),
                      )
                    th.text-center
                      a#sort-pppoe-usr= t('pppoeUser')
                    th.text-center
                      a#sort-mac-addr= t('uniqueIdentifier')
                    th.text-center
                      a#sort-wan-ip= t('wanIp')
                    th.text-center
                      a#sort-public-ip= t('publicIp')
                    th.text-center
                      a#sort-release= t('installedFirmware')
                    th.text-center
                      a#sort-ext-ref= t('Identification')
                    th.text-center
                      a#sort-sys-uptime= t('upTime')
                    th.text-center
                      a#sort-wan-uptime= t('connectedTime')
                    th.text-center
                      a#sort-pon-signal= t('opticalSignalState')
                    if (superuser || role.grantFirmwareUpgrade)
                      th.text-center= t('updateFirmware')
                tbody#devices-table-content(
                  data-role=role,
                  data-superuser=superuser ? "true" : "false",
                  data-enabledatacollecting=enable_data_collecting ? "true" : "false",
                  data-visiblecolumnsonpage=visiblecolumnsonpage)
        .row.mt-3.mb-3
          .col-md-9
            nav#devices-table-pagination
          .col-md-3
            if (superuser || role.grantCsvExport)
              .text-right
                button#export-csv.btn.btn-primary.mr-0.my-0
                  .fas.fa-file-excel.fa-lg
                  span &nbsp; #{t('exportCsv')}
  else
    h2.text-center.grey-text.mt-5
      i.fas.fa-exclamation-triangle.fa-4x.mb-4
      br
      span= t('userWithoutPermissionToVisualizeInformation')

block scripts
  script(src='/dist/index.bundle.js')
