doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Flashman

    link(rel='stylesheet', href='/scripts/fontawesome/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/flashman-bundle.min.css')
    block stylesheets

  body
    //- Preloader
    #preloader
      #status &nbsp

    include includes/navbar
    p.ml-2.mt-2.version-label #{appVersion}
    .container(
      data-superuser=(superuser?"true":"false"),
      data-major-upgrade=(majorUpdate?"true":"false"),
      data-upgrade=(update?"true":"false"),
    )
      include includes/flash
      include includes/configflashman
      include includes/alertsflashman
      block content

    script(src='/dist/flashman.bundle.js')
    block scripts
