doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Flashman
    block stylesheets

  body
    //- Preloader
    #preloader(style="background-color: #ffffff;" +
                     "bottom: 0; left: 0; position: fixed;" +
                     "right: 0; top: 0; z-index: 99;")
      #status(style="background-image: url('/images/preloading.gif');" +
                    "background-position: center;" +
                    "background-repeat: no-repeat;" +
                    "height: 200px; left: 50%; margin: -100px 0 0 -100px;" +
                    "position: absolute; top: 50%; width: 200px;") &nbsp;

    include includes/navbar
    p.ml-2.mt-2.version-label #{appVersion}
    .container(
      data-superuser=(superuser?"true":"false"),
      data-major-upgrade=(majorUpdate?"true":"false"),
      data-upgrade=(update?"true":"false"),
    )
      include includes/flash
      include includes/alertsflashman
      block content

    block scripts
