extends layout

block content
  include includes/showfactorycredentials
  include includes/showdefaulthostsconfig

  form#config-flashman-form.needs-validation(
    method="post",
    action="/upgrade/config",
    novalidate
  )
    .row
      .col-12
        .card.mt-4.mb-4
          h4.card-header.primary-color.white-text
            .fas.fa-cog.fa-lg
            span &nbsp; #{t('Configurations')}

        .card.px-3.py-3.mb-4
          h5.card-header.primary-color.white-text(
            data-toggle="collapse",
            data-target="#general",
            style="cursor: pointer"
          )
            .row
              .col-1
                .fas.fa-chevron-down
              .col-10.text-center
                span.card-title #{t('generalConfigurations')}

          #general.card-body.collapse.out
            .row
              .col-md.col-12.pl-0.pr-md-4.pr-0
                .md-form.input-entry
                  label= t('minimumAmountOfPppoePaswordChars')
                  input#minlength-pass-pppoe.form-control(
                    type="number",
                    name="minlength-pass-pppoe",
                    min=1,
                    max=64,
                    required
                  )
                  .invalid-feedback= t('insertANumberBetweenMinMax', {min: 1, max: 63})
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('ignoreFlashboxFirmwwareAlterationWarning')
                    select.browser-default.md-select(name="bypass-mqtt-secret-check")
                      option(value="false")= t('No')
                      option(value="true")= t('Yes')
                .custom-control.custom-checkbox.mb-2
                  input#autoupdate.custom-control-input(
                    name="autoupdate",
                    type="checkbox"
                  )
                  label.custom-control-label.text-muted(for="autoupdate")
                    | #{t('letFLashmanAutomaticallyUpdate')}
                  .invalid-feedback
              .col-md.col-12.pl-0.pr-0
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('FlashmanLanguage')
                    select.browser-default.md-select(name="selected-language")
                      option(value="en") 🇬🇧 English
                      option(value="es") 🇪🇸 Español
                      option(value="pt-BR") 🇧🇷 Português brasileiro
                .row
                  #default-hosts-config-button.button.btn.btn-primary.mt-2.mx-auto
                    .fas.fa-stethoscope.fa-lg
                    span &nbsp; #{t('defaultHostsConfig')}
                #is-ssid-prefix-enabled-col.d-none
                  .alert.alert-info
                    .fas.fa-info-circle.fa-lg
                    span &nbsp; #{t('hintUseTheSameSsidPrefixFromFlashboxFirmwarePreset')}
                  .md-form.input-entry#ssid-prefix-box
                    label= t('ssidPrefix')
                    input#ssid-prefix.form-control(
                      type="text",
                      name="ssid-prefix"
                      oninput="checkSsidPrefixValidity()"
                    )
                    #error-ssid-prefix.invalid-feedback= t('ssidPrefixInvalidFeedback')
                  .custom-control.custom-checkbox
                    input#is-ssid-prefix-enabled.custom-control-input(
                      name="is-ssid-prefix-enabled",
                      type="checkbox",
                      onchange="changeSsidPrefixInputDisableness(this)"
                    )
                    label.custom-control-label.text-muted(for="is-ssid-prefix-enabled")
                      | #{t('enableSsidPrefixInCpesWifi')}
                    .invalid-feedback

          h5.card-header.primary-color.white-text.mt-2(
            data-toggle="collapse",
            data-target="#speed-measurement",
            style="cursor: pointer"
          )
            .row
              .col-1
                .fas.fa-chevron-down
              .col-10.text-center
                span.card-title= t('speedMeasureServerConfigurations')
          #speed-measurement.card-body.collapse.out
            .md-form.input-entry
              label= t('speedMeasureServerIpAddress')
              input#measure-server-ip.form-control.ip-mask-field(
                type="text",
                name="measure-server-ip",
                minlength=7,
                maxlength=15,
                size=15,
                pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
              )
              .invalid-feedback= t('insertValidIp')
            .md-form.input-entry
              label= t('speedMeasureServerPort')
              input#measure-server-port.form-control(
                type="number",
                name="measure-server-port",
                min=1,
                max=65535,
                value=80,
                placeholder="80"
              )
              .invalid-feedback= t('insertValidPort')

          h5.card-header.primary-color.white-text.mt-2(
            data-toggle="collapse",
            data-target="#technicianapp",
            style="cursor: pointer"
          )
            .row
              .col-1
                .fas.fa-chevron-down
              .col-10.text-center
                span.card-title= t('technicianAppConfigurations')

          #technicianapp.card-body.collapse.out
            .row
              .col-md-6.col-12.pl-0.pr-md-4.pr-0
                .md-form.input-entry
                  label= t('opticalSignalYellowAlertDbm')
                  input#pon-signal-threshold.form-control(
                    type="number",
                    name="pon-signal-threshold",
                    min=-100,
                    max=100,
                    value=-18
                  )
                  .invalid-feedback= t('insertValidDbmNumber')
                .md-form.input-entry
                  label= t('opticalSignalRedAlertDbm')
                  input#pon-signal-threshold-critical.form-control(
                    type="number",
                    name="pon-signal-threshold-critical",
                    min=-100,
                    max=100,
                    value=-23
                  )
                  .invalid-feedback= t('insertValidDbmNumber')
                .md-form.input-entry
                  label= t('opticalSignalElevatedRedAlertDbm')
                  input#pon-signal-threshold-critical-high.form-control(
                    type="number",
                    name="pon-signal-threshold-critical-high",
                    min=-100,
                    max=100,
                    value=3
                  )
                  .invalid-feedback= t('insertValidDbmNumber')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('mandatoryWanVerification')
                    select.browser-default.md-select(name="wan-step-required")
                      option(value="true")= t('Enabled')
                      option(value="false")= t('Disabled')
                .alert.alert-info
                  .fas.fa-info-circle.fa-lg
                  span &nbsp; #{t('disabledWanStepWillBePingTestToCpeGateway')}
                .alert.alert-info
                  .fas.fa-info-circle.fa-lg
                  span &nbsp; #{t('disabledFlashmanRegisterStepWillBeMqttsConnectionTest')}
              .col-md-6.col-12.pl-0.pr-0
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('speedTestExecution')
                    select.browser-default.md-select(name="speedtest-step-required")
                      option(value="true")= t('Enabled')
                      option(value="false")= t('Disabled')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('mandatoryIpvxVerification', {x: 4})
                    select.browser-default.md-select(name="ipv4-step-required")
                      option(value="true")= t('Enabled')
                      option(value="false")= t('Disabled')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('mandatoryIpvxVerification', {x: 6})
                    select.browser-default.md-select(name="ipv6-step-required")
                      option(value="false")= t('Disabled')
                      option(value="true")= t('Enabled')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('mandatoryDnsVerification')
                    select.browser-default.md-select(name="dns-step-required")
                      option(value="true")= t('Enabled')
                      option(value="false")= t('Disabled')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('mandatoryFlashmanRegisterVerification')
                    select.browser-default.md-select(name="flashman-step-required")
                      option(value="true")= t('Enabled')
                      option(value="false")= t('Disabled')
                
          if (superuser || (role && role.grantMonitorManage))
            h5.card-header.primary-color.white-text.mt-2(
              data-toggle="collapse",
              data-target="#tr",
              style="cursor: pointer"
            )
              .row
                .col-1
                  .fas.fa-chevron-down
                .col-10.text-center
                  span.card-title= t('tr069Configurations')
            #tr.card-body.collapse.out
              .row
                .col-md-6.col-12.pl-0.pr-md-4.pr-0
                  .md-form.input-entry
                    label= t('flashmansTr069ServerFqdn')
                    input#tr069-server-url.form-control(
                      type="text",
                      name="tr069-server-url"
                    )
                    .invalid-feedback= t('insertValidFqdn')
                  .md-form.input-entry
                    label= t('cpesWebinterfaceLogin')
                    input#onu-web-login.form-control(
                      type="text",
                      name="onu-web-login"
                    )
                    .invalid-feedback= t('insertValidLogin')
                  .md-form.input-group
                    label= t('cpesWebinterfacePassword')
                    input#onu-web-password.form-control(
                      type="text",
                      name="onu-web-password"
                    )
                    .input-group-append(
                      data-toggle="tooltip",
                      title=t('onuWebPasswordTooltip')
                    )
                      a.md-addon.fas.fa-question-circle
                    .invalid-feedback= t('insertValidPassword')
                  .row
                      #factory-credentials-button.button.btn.btn-primary.mt-4.mx-auto
                        .fas.fa-key.fa-lg
                        span &nbsp; #{t('factoryCredentialsPresetLabel')}
                  span &nbsp;
                  .custom-control.custom-checkbox
                    input#onu_web_remote.custom-control-input(
                      name="onu_web_remote",
                      type="checkbox"
                    )
                    label.custom-control-label.text-muted(for="onu_web_remote")
                      | #{t('configureOnusRemoteAccess')}
                    .invalid-feedback
                  .custom-control.custom-checkbox.mt-2
                    input#stun_enable.custom-control-input(
                      name="stun_enable",
                      type="checkbox"
                    )
                    label.custom-control-label.text-muted.mr-2(for="stun_enable")
                      | #{t('enableStunServerUsage')}
                    a.fas.fa-question-circle(data-toggle="tooltip" title=t('stunEnableTooltip'))
                    .invalid-feedback
                  .custom-control.custom-checkbox.mt-2
                    input#insecure_enable.custom-control-input(
                      name="insecure_enable",
                      type="checkbox"
                    )
                    label.custom-control-label.text-muted.mr-2(for="insecure_enable")
                      | #{t('enableTr069HttpCommunicationMode')}
                    a.fas.fa-question-circle(data-toggle="tooltip" title=t('tr069HttpCommunicationTooltip'))
                    .invalid-feedback
                .col-md-6.col-12.pl-0.pr-0.text-center
                  .md-form.input-entry
                    label= t('tr069InformIntervalSeconds')
                    input#inform-interval.form-control(
                      type="number",
                      name="inform-interval",
                      min=60,
                      max=86400,
                      value=300,
                      placeholder="300"
                    )
                    .invalid-feedback= t('tr069InformIntervalInvalidFeedback')
                  .md-form.input-entry
                    label= t('tr069DataSynchronizationIntervalSeconds')
                    input#sync-interval.form-control(
                      type="number",
                      name="sync-interval",
                      min=60,
                      max=86400,
                      value=300,
                      placeholder="300"
                    )
                    .invalid-feedback= t('tr069DataSynchronizationIntervalInvalidFeedback')
                  .md-form.input-entry
                    label= t('lostInformsForUnstableCpe')
                    input#lost-informs-recovery-threshold.form-control(
                      type="number",
                      name="lost-informs-recovery-threshold",
                      min=1,
                      max=100,
                      value=1,
                      oninput="checkrecoveryOfflineInputDependency()"
                    )
                    #error-lost-informs-recovery-threshold.invalid-feedback= t('lostInformsInvalidFeedback')
                  .md-form.input-entry
                    label= t('lostInformsForOfflineCpe')
                    input#lost-informs-offline-threshold.form-control(
                      type="number",
                      name="lost-informs-offline-threshold",
                      min=1,
                      max=300,
                      value=3,
                      oninput="checkrecoveryOfflineInputDependency()"
                    )
                    //- don't change min value to '2'. oninput function will check if this value is bigger than recovery's value.
                    #error-lost-informs-offline-threshold.invalid-feedback= t('lostInformsInvalidFeedback')
                  #error-recovery-offline-thresholds.invalid-feedback= t('lostInformsRecoveryOfflineThresholdsInvalidFeedback')
                  .alert.alert-danger
                    .fas.fa-exclamation-triangle.fa-lg
                    span &nbsp; #{t('warningLargeLoadFlashman')}
                    .row
                      #offline-cpe-force-reconnect.button.btn.btn-primary.mt-4.mx-auto
                        .fas.fa-sync.fa-lg
                        span &nbsp; #{t('forceOfflineReconnect')}

          button.btn.btn-primary.mt-4.mx-auto(type="submit")
            .fas.fa-check.fa-lg
            span &nbsp; #{t('Save')}

block scripts
  script(src='/dist/settings.bundle.js')
