extends layout

block content
  form#config-flashman-form.needs-validation(
    method="post",
    action="/upgrade/config",
    novalidate
  )
    .row
      .col-12
        .card.mt-4.mb-4
          h4.card-header.primary-color.white-text
            .fas.fa-cog.fa-lg
            span &nbsp; Configurações

        .card.px-3.py-3.mb-4
          h5.card-header.primary-color.white-text(
            data-toggle="collapse",
            data-target="#general",
            style="cursor: pointer"
          )
            .row
              .col-1
                .fas.fa-chevron-down
              .col-10.text-center
                span.card-title Configurações gerais

          #general.card-body.collapse.out
            .md-form.input-entry
              label Número mínimo de caracteres da senha PPPoE
              input#minlength-pass-pppoe.form-control(
                type="number",
                name="minlength-pass-pppoe",
                min=0,
                max=64,
                required
              )
              .invalid-feedback Insira um número entre 0 e 64
            .custom-control.custom-checkbox
              input#autoupdate.custom-control-input(
                name="autoupdate",
                type="checkbox"
              )
              label.custom-control-label.text-muted(for="autoupdate")
                | Deixar que o Flashman se atualize automaticamente
              .invalid-feedback

          h5.card-header.primary-color.white-text.mt-2(
            data-toggle="collapse",
            data-target="#speed-measurement",
            style="cursor: pointer"
          )
            .row
              .col-1
                .fas.fa-chevron-down
              .col-10.text-center
                span.card-title Configurações do servidor de medição de velocidade
          #speed-measurement.card-body.collapse.out
            .md-form.input-entry
              label Endereço IP do servidor de medição de velocidade
              input#measure-server-ip.form-control.ip-mask-field(
                type="text",
                name="measure-server-ip",
                minlength=7,
                maxlength=15,
                size=15,
                pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
              )
              .invalid-feedback Insira um IP válido
            .md-form.input-entry
              label Porta do servidor de medição de velocidade
              input#measure-server-port.form-control(
                type="number",
                name="measure-server-port",
                min=1,
                max=65535,
                value=80,
                placeholder="80"
              )
              .invalid-feedback Insira uma porta válida

          h5.card-header.primary-color.white-text.mt-2(
            data-toggle="collapse",
            data-target="#technicianapp",
            style="cursor: pointer"
          )
            .row
              .col-1
                .fas.fa-chevron-down
              .col-10.text-center
                span.card-title Configurações para App do Técnico

          #technicianapp.card-body.collapse.out
            .md-form.input-entry
              label Valor de alerta amarelo do sinal óptico (dBm)
              input#pon-signal-threshold.form-control(
                type="number",
                name="pon-signal-threshold",
                min=-100,
                max=100,
                value=-18
              )
              .invalid-feedback Insira um número em dBm válido
            .md-form.input-entry
              label Valor de alerta vermelho do sinal óptico (dBm)
              input#pon-signal-threshold-critical.form-control(
                type="number",
                name="pon-signal-threshold-critical",
                min=-100,
                max=100,
                value=-23
              )
              .invalid-feedback Insira um número em dBm válido
            .md-form.input-entry
              label Valor de alerta vermelho do sinal óptico elevado (dBm)
              input#pon-signal-threshold-critical-high.form-control(
                type="number",
                name="pon-signal-threshold-critical-high",
                min=-100,
                max=100,
                value=3
              )
              .invalid-feedback Insira um número em dBm válido
            .custom-control.custom-checkbox.d-none#is-ssid-prefix-enabled-div
              input#is-ssid-prefix-enabled.custom-control-input(
                name="is-ssid-prefix-enabled",
                type="checkbox"
              )
              label.custom-control-label.text-muted(for="is-ssid-prefix-enabled")
                | Habilitar prefixo SSID no WiFi dos Roteadores
              .invalid-feedback
            .md-form.input-entry.d-none#ssid-prefix-div
              label Prefixo SSID
              input#ssid-prefix.form-control(
                type="text",
                name="ssid-prefix"
              )
              .invalid-feedback Insira um prefixo válido

          if (superuser || (role && role.grantMonitorManage))
            h5.card-header.primary-color.white-text.mt-2(
              data-toggle="collapse",
              data-target="#tr",
              style="cursor: pointer"
            )
              .row
                .col-1
                  .fas.fa-chevron-down
                .col-10.text-center
                  span.card-title Configurações de TR-069
            #tr.card-body.collapse.out
              .row
                .col-6
                  .md-form.input-entry
                    label FQDN do servidor TR-069 do Flashman
                    input#tr069-server-url.form-control(
                      type="text",
                      name="tr069-server-url"
                    )
                    .invalid-feedback Insira um FQDN válido
                  .md-form.input-entry
                    label Intervalo entre informes do TR-069 (em segundos, mínimo 60)
                    input#inform-interval.form-control(
                      type="number",
                      name="inform-interval",
                      min=60,
                      max=86400,
                      value=600,
                      placeholder="600"
                    )
                    .invalid-feedback Insira uma quantidade válida
                  .md-form.input-entry
                    label Número de informes TR-069 não recebidos para CPE instável
                    input#lost-informs-recovery-threshold.form-control(
                      type="number",
                      name="lost-informs-recovery-threshold",
                      min=1,
                      max=100,
                      value=1,
                      oninput="checkrecoveryOfflineInputDependency()"
                    )
                    #error-lost-informs-recovery-threshold.invalid-feedback Insira uma quantidade válida
                  .md-form.input-entry
                    label Número de informes TR-069 não recebidos para CPE offline
                    input#lost-informs-offline-threshold.form-control(
                      type="number",
                      name="lost-informs-offline-threshold",
                      min=1,
                      max=300,
                      value=3,
                      oninput="checkrecoveryOfflineInputDependency()"
                    )
                    //- don't change min value to '2'. oninput function will check if this value is bigger than recovery's value.
                    #error-lost-informs-offline-threshold.invalid-feedback Insira uma quantidade válida
                  #error-recovery-offline-thresholds.invalid-feedback Valor para instável precisa ser menor que o valor offline.
                .col-6
                  .md-form.input-entry
                    label Login para a interface web das CPEs
                    input#onu-web-login.form-control(
                      type="text",
                      name="onu-web-login"
                    )
                    .invalid-feedback Insira um login válido
                  .md-form.input-entry
                    label Senha para a interface web das CPEs
                    input#onu-web-password.form-control(
                      type="text",
                      name="onu-web-password"
                    )
                    .invalid-feedback Insira uma senha válida
                  .custom-control.custom-checkbox
                    input#onu_web_remote.custom-control-input(
                      name="onu_web_remote",
                      type="checkbox"
                    )
                    label.custom-control-label.text-muted(for="onu_web_remote")
                      | Configurar acesso remoto para ONUs
                    .invalid-feedback

          button.btn.btn-primary.mt-4.mx-auto(type="submit")
            .fas.fa-check.fa-lg
            span &nbsp; Salvar

block scripts
  script(src='/dist/settings.bundle.js')
