extends layout

block content
  include includes/showcertificate

  .card.mt-5.mb-4
    h4.card-header.teal.lighten-2.white-text
      .fas.fa-file-alt.fa-lg
      span &nbsp; #{t('Certificates')}
    .card-body
      h3#loading-users.text-center
        i.fas.fa-spinner.fa-pulse.fa-2x.grey-text
      #users-table-wrapper(style="display: none;")
        .col.col-md-10.my-4.mx-auto.p-0
          .md-form.input-group.input-entry
            .input-group-btn
              button#certificates-search-type-button.btn.btn-primary.dropdown-toggle.ml-0.my-0(
                type="button",
                data-toggle="dropdown"
              )
                span#new_ext_ref_type_selected.selected= t('Technician')
              #certificates-search-type.ext-ref-type.dropdown-menu
                a.dropdown-item.text-center= t('Technician')
                a.dropdown-item.text-center= t('MAC/Serial')
            input#certificates-search-input.form-control.py-0(
              type="text",
              name="content",
              placeholder=t('Search...')
            )
          .row
            .col.pr-md-0
              .md-form.input-entry.my-0
                label.active= t('serviceStartDate')
                input#certificates-firstdatepicker-input.form-control(
                  type="date",
                  name="firstdatepicker",
                )
            .col.pr-md-0
              .md-form.input-entry.my-0
                label.active= t('serviceEndDate')
                input#certificates-seconddatepicker-input.form-control(
                  type="date",
                  name="seconddatepicker",
                )
          .row
            .col.text-right.px-md-0
              button#certificates-search-button.btn.btn-primary.mx-0(type="submit")
                i#certificates-search-btn-icon.fas.fa-search.fa-lg
        .table-responsive
          table#users-table.table
            thead
              tr
                if (superuser || role.grantCertificationAccess > 1)
                  th#checkboxHeader.text-center
                    input.checkbox(type="checkbox" id="checkall")
                th.text-centere= t('Concluded')
                th.text-centere= t('uniqueIdentifier')
                th.text-centere= t('serviceDate')
                th.text-centere= t('Technician')
                th.text-center

block scripts
  script(src='/dist/showusercertificates.bundle.js')
