extends layout

block content
  .row.justify-content-center
    .col-12.col-lg-8.mt-5
      .card
        h4.card-header.teal.lighten-2.white-text(id="card-header",
                                                  data-toggle="collapse",
                                                  data-target="#new-role-card",
                                                  style="cursor: pointer;")
          .row
            .col-1
              .fas.fa-plus
            .col-10.text-center
              span.card-title= t('addNewRole')
        .card-body.collapse.out(id="new-role-card")
          form.needs-validation(
            id="new-role-form",
            method='post',
            action='/user/role/new',
            novalidate
          )
            .row.mb-3
              .col
                .md-form.input-entry
                  label= t('roleName')
                  input.form-control(type="text",
                                     name="name",
                                     required)
                  .invalid-feedback= t('pleaseFillInThisField')
            h5.text-muted.m-0= t('registerPermissionsAndActionsInCpes')
            hr.my-1
            .row.mb-4
              .col-12.col-lg-6
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('wifiInformation')
                    select.browser-default.md-select(name="grant-wifi-info")
                      option(value=0)= t('cannotView')
                      option(value=1)= t('View')
                      option(value=2)= t('viewAndEdit')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('pppoeInformation')
                    select.browser-default.md-select(name="grant-pppoe-info")
                      option(value=0)= t('cannotView')
                      option(value=1)= t('View')
                      option(value=2)= t('viewAndEdit')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('viewPasswordWhenEditing')
                    select.browser-default.md-select(name="grant-pass-show")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('connectionTypeControl')
                    select.browser-default.md-select(name="grant-wan-type")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('cpeIdentificationControl')
                    select.browser-default.md-select(name="grant-device-id")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('actionsInCpeControl')
                    select.browser-default.md-select(name="grant-device-actions")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('lanNetworkControl')
                    select.browser-default.md-select(name="grant-lan-edit")
                      option(value="false")= t('View')
                      option(value="true")= t('viewAndEdit')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('blockInternetInDevices')
                    select.browser-default.md-select(name="grant-lan-devices-block")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('operationModeControl')
                    select.browser-default.md-select(name="grant-opmode-edit")
                      option(value="false")= t('View')
                      option(value="true")= t('viewAndEdit')
              .col-12.col-lg-6
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('accessCpeLogs')
                    select.browser-default.md-select(name="grant-log-access")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('cpesRegistersRemoval')
                    select.browser-default.md-select(name="grant-device-removal")
                      option(value=0)= t('Block')
                      option(value=1)= t('Allow')
                      option(value=2)= t('allowMany')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('cpesRegistersAddition')
                    select.browser-default.md-select(name="grant-device-add")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('showCpeAlerts')
                    select.browser-default.md-select(name="grant-notification-popups")
                      option(value="true")= t('Allow')
                      option(value="false")= t('Block')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('connectedDevicesInformation')
                    select.browser-default.md-select(name="grant-lan-devices")
                      option(value=0)= t('cannotView')
                      option(value=1)= t('View')
                      option(value=2)= t('viewAndMakeActions')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('neighboringNetworksInformation')
                    select.browser-default.md-select(name="grant-site-survey")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('speedTestInformation')
                    select.browser-default.md-select(name="grant-measure-devices")
                      option(value=0)= t('cannotView')
                      option(value=1)= t('View')
                      option(value=2)= t('viewAndMakeActions')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('wanTrafficPlotsAccess')
                    select.browser-default.md-select(name="grant-statistics")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('vlanInformation')
                    select.browser-default.md-select(name="grant-vlan")
                      option(value=0)= t('cannotView')
                      option(value=1)= t('View')
                      option(value=2)= t('viewAndEdit')
            h5.text-muted.m-0= t('firmwareUpdatePermissions')
            hr.my-1
            .row.mb-4
              .col-12.col-lg-6
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('firmwareManagementControl')
                    select.browser-default.md-select(name="grant-firmware-manage")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('firmwareUpdateControl')
                    select.browser-default.md-select(name="grant-firmware-upgrade")
                      option(value=0)= t('Block')
                      option(value=1)= t('Allow')
                      option(value=2)= t('allowMany')
              .col-12.col-lg-6
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('betaFirmwareUpdateControl')
                    select.browser-default.md-select(name="grant-firmware-beta-upgrade")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('restrictedFirmwareUpdateControl')
                    select.browser-default.md-select(name="grant-firmware-restricted-upgrade")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
            h5.text-muted.m-0= t('generalFlashmanPermissions')
            hr.my-1
            .row.mb-4
              .col-12.col-lg-6
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('tr069ParametersConfiguration')
                    select.browser-default.md-select(name="grant-monitor-manage")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('allowRestApiAccess')
                    select.browser-default.md-select(name="grant-api-access")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('userManagementControl')
                    select.browser-default.md-select(name="grant-user-manage")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('technicianAppAccess')
                    select.browser-default.md-select(name="grant-diag-app-access")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('cpeStatusTotal')
                    select.browser-default.md-select(name="grant-search-summary")
                      option(value="false")= t('cannotView')
                      option(value="true")= t('View')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('rowsPerPage')
                    select.browser-default.md-select(name="grant-rows-per-page")
                      option(value="false")= t('cannotView')
                      option(value="true")= t('View')
              .col-12.col-lg-6
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('cpeSearch')
                    select.browser-default.md-select(name="grant-search-level")
                      option(value=0)= t('cannotSearchAndView')
                      option(value=1)= t('simpleSearch') 
                      option(value=2)= t('completeSearchWithSpecialFilters')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('csvRegisterExport')
                    select.browser-default.md-select(name="grant-csv-export")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('flashmanConfigurationsControl')
                    select.browser-default.md-select(name="grant-flashman-manage")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('cpeCertificatesAccess')
                    select.browser-default.md-select(name="grant-certification-access")
                      option(value=0)= t('cannotView')
                      option(value=1)= t('View')
                      option(value=2)= t('viewAndEdit')
                .md-form
                  .md-selectfield.form-control.my-0
                    label= t('vlanProfilesAdditionEditionRemoval')
                    select.browser-default.md-select(name="grant-vlan-profile-edit")
                      option(value="false")= t('Block')
                      option(value="true")= t('Allow')
            .row
              .col.text-center
                .form-buttons
                  button.btn.btn-primary(type="submit")
                    .fas.fa-check.fa-lg
                    span &nbsp; #{t('Add')}
  .card.mt-4.mb-4
    h4.card-header.teal.lighten-2.white-text
      .fas.fa-address-card.fa-lg
      span &nbsp; #{t('permissionsRoles')}
    .card-body
      h3#loading-roles.text-center
        i.fas.fa-spinner.fa-pulse.fa-2x.grey-text
      #roles-table-wrapper.table-responsive(style="display: none;")
        .text-right.mb-4
          .btn-group(role="group")
            button.btn.btn-danger(type="button" id="btn-roles-trash")
              .fas.fa-trash.fa-lg
        table#roles-table.table
          thead
            tr
              th.col-xs-1
                input.checkbox(type="checkbox" id="checkall")
              th.text-center= t('roleName')
              th
          tbody#roles-table-content

block scripts
  script(src='/dist/showroles.bundle.js')
