extends layout

block content
  include includes/showcertificate

  .card.mt-5.mb-4
    h4.card-header.teal.lighten-2.white-text
      .fas.fa-file-alt.fa-lg
      span &nbsp; Certificações
    .card-body
      h3#loading-users.text-center
        i.fas.fa-spinner.fa-pulse.fa-2x.grey-text
    .mt-4.col-10.mx-auto
      .input-group
        button#certificates-search-type-button.btn.btn-primary.dropdown-toggle.ml-0.my-0(
          type="button",
          data-toggle="dropdown"
        )
          span#new_ext_ref_type_selected.selected Pesquisar Por
        #certificates-search-type.ext-ref-type.dropdown-menu
          a.dropdown-item.text-center.primary-color.active Nome
          a.dropdown-item.text-center MAC/Serial
        input#certificates-search-input.form-control.tags-input(
          type="tags",
          name="content",
          placeholder="Buscar..."
        )
      .input-group
        input#certificates-firstdatepicker-input.form-control.tags-input(
          type="date",
          name="firstdatepicker",
        )
        input#certificates-seconddatepicker-input.form-control.tags-input(
          type="date",
          name="seconddatepicker",
        )
        .input-group-btn
          button#certificates-search-button.my-0.btn.btn-primary(type="submit")
            .fas.fa-search.fa-lg
    #users-table-wrapper.table-responsive(style="display: none;")
      table#users-table.table
        thead
          tr
            if (superuser || role.grantCertificationAccess > 1)
              th#checkboxHeader.text-center
                input.checkbox(type="checkbox" id="checkall")
            th.text-center Concluído
            th.text-center Identificador Único
            th.text-center Data do Atendimento
            th.text-center Técnico
            th.text-center

block scripts
  script(src='/dist/showusercertificates.bundle.js')
