extends layout

block content
  .row.justify-content-center
    .col-12.col-lg-8.mt-5
      .card
        h4.card-header.teal.lighten-2.white-text(id="card-header",
                                                  data-toggle="collapse",
                                                  data-target="#new-user-card",
                                                  style="cursor: pointer;")
          .row
            .col-1
              .fas.fa-plus
            .col-10.text-center
              span.card-title #{t('addNewUser')}
        .card-body.collapse.out(id="new-user-card")
          form.needs-validation(
            id="new-user-form",
            method='post',
            action='/user/new',
            novalidate
          )
            .md-form.input-entry
              label(for="new_user")= t('User')
              input.form-control(type="text",
                                 id="new_user",
                                 name="name",
                                 maxlength=23,
                                 required)
              .invalid-feedback= t('pleaseFillInThisField')
            .md-form.input-entry
              label(for="new_pass")= t('Password')
              input.form-control(type="password",
                                 id="new_pass",
                                 name="password",
                                 required)
              .invalid-feedback= t('pleaseFillInThisField')
            .md-form.input-entry
              label(for="new_pass_ack")= t('passwordAgain') 
              input.form-control(type="password",
                                 id="new_pass_ack",
                                 name="passwordack"
                                 oninput="check(this)",
                                 required)
              .invalid-feedback= t('passwordsAreDifferent')
            .md-form.pt-2
              .md-selectfield.form-control.my-0
                label(for="new_user_role")= t('permissionsRole')
                select.browser-default.md-select(id="new_user_role",
                                                 name="role",
                                                 required)
                  each role in roles
                    option(value=role.name) #{role.name}
            .col.text-center.mt-3
              .form-buttons
                button.btn.btn-primary(type="submit")
                  .fas.fa-check.fa-lg
                  span &nbsp; #{t('Add')}
  .card.mt-4.mb-4
    h4.card-header.teal.lighten-2.white-text
      .fas.fa-users.fa-lg
      span &nbsp; #{t('Users')}
    .card-body
      h3#loading-users.text-center
        i.fas.fa-spinner.fa-pulse.fa-2x.grey-text
      #users-table-wrapper.table-responsive(style="display: none;")
        table#users-table.table
          thead
            tr
              th.text-center
                input.checkbox(type="checkbox" id="checkall")
              th.text-center= t('User')
              th.text-center= t('permissionsRole')
              th.text-center= t('creationDate')
              th.text-center= t('lastAccess')
              th.text-center
          tbody

block scripts
  script(src='/dist/showusers.bundle.js')
